@font-face {
	font-family: 'togo';
	src:url('fonts/togo.eot');
	src:url('fonts/togo.eot?#iefix') format('embedded-opentype'),
		url('fonts/togo.woff') format('woff'),
		url('fonts/togo.ttf') format('truetype'),
		url('fonts/togo.svg#togo') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'togo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-user, .icon-users, .icon-cart, .icon-key, .icon-stats, .icon-cog, .icon-food, .icon-briefcase, .icon-home, .icon-pencil, .icon-image, .icon-camera, .icon-connection, .icon-folder, .icon-tags, .icon-print, .icon-disk, .icon-checkmark, .icon-close, .icon-spam, .icon-cloud-upload, .icon-cloud-download, .icon-earth, .icon-power-cord, .icon-clock, .icon-zoom-in, .icon-location, .icon-envelop, .icon-phone, .icon-coin, .icon-qrcode, .icon-calendar, .icon-bell, .icon-signup, .icon-undo, .icon-redo, .icon-menu, .icon-enter, .icon-plus, .icon-minus, .icon-arrow-left, .icon-arrow-right, .icon-loop {
	font-family: 'togo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-user:before {
	content: "\e000";
}
.icon-users:before {
	content: "\e001";
}
.icon-cart:before {
	content: "\e003";
}
.icon-key:before {
	content: "\e002";
}
.icon-stats:before {
	content: "\e004";
}
.icon-cog:before {
	content: "\e005";
}
.icon-food:before {
	content: "\e006";
}
.icon-briefcase:before {
	content: "\e007";
}
.icon-home:before {
	content: "\e008";
}
.icon-pencil:before {
	content: "\e009";
}
.icon-image:before {
	content: "\e00a";
}
.icon-camera:before {
	content: "\e00b";
}
.icon-connection:before {
	content: "\e00c";
}
.icon-folder:before {
	content: "\e00d";
}
.icon-tags:before {
	content: "\e00e";
}
.icon-print:before {
	content: "\e00f";
}
.icon-disk:before {
	content: "\e010";
}
.icon-checkmark:before {
	content: "\e011";
}
.icon-close:before {
	content: "\e012";
}
.icon-spam:before {
	content: "\e013";
}
.icon-cloud-upload:before {
	content: "\e014";
}
.icon-cloud-download:before {
	content: "\e015";
}
.icon-earth:before {
	content: "\e016";
}
.icon-power-cord:before {
	content: "\e017";
}
.icon-clock:before {
	content: "\e018";
}
.icon-zoom-in:before {
	content: "\e019";
}
.icon-location:before {
	content: "\e01a";
}
.icon-envelop:before {
	content: "\e01b";
}
.icon-phone:before {
	content: "\e01c";
}
.icon-coin:before {
	content: "\e01d";
}
.icon-qrcode:before {
	content: "\e01e";
}
.icon-calendar:before {
	content: "\e01f";
}
.icon-bell:before {
	content: "\e020";
}
.icon-signup:before {
	content: "\e021";
}
.icon-undo:before {
	content: "\e022";
}
.icon-redo:before {
	content: "\e023";
}
.icon-menu:before {
	content: "\e024";
}
.icon-enter:before {
	content: "\e025";
}
.icon-plus:before {
	content: "\e026";
}
.icon-minus:before {
	content: "\e027";
}
.icon-arrow-left:before {
	content: "\e028";
}
.icon-arrow-right:before {
	content: "\e029";
}
.icon-loop:before {
	content: "\e02a";
}
