@font-face {
	font-family: 'toGoSoftware';
	src:url('fonts/toGoSoftware.eot');
	src:url('fonts/toGoSoftware.eot?#iefix') format('embedded-opentype'),
		url('fonts/toGoSoftware.woff') format('woff'),
		url('fonts/toGoSoftware.ttf') format('truetype'),
		url('fonts/toGoSoftware.svg#toGoSoftware') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'toGoSoftware';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-minus, .icon-plus, .icon-close, .icon-chevron-left, .icon-chevron-right, .icon-exit, .icon-minus-2, .icon-plus-2, .icon-folder, .icon-phone, .icon-person, .icon-menu, .icon-group, .icon-mail, .icon-directions, .icon-user-add, .icon-target, .icon-disk, .icon-trash, .icon-list-alt, .icon-refresh, .icon-print, .icon-chevron-up, .icon-chevron-down, .icon-group-2, .icon-pencil, .icon-location, .icon-bell, .icon-stopwatch, .icon-spinner, .icon-spinner-2, .icon-spinner-3, .icon-spinner-4, .icon-spinner-5, .icon-spinner-6, .icon-cog, .icon-key, .icon-enter, .icon-checkmark, .icon-camera, .icon-image, .icon-file, .icon-search, .icon-menu-2, .icon-profile, .icon-user, .icon-office, .icon-notebook, .icon-truck, .icon-cross, .icon-plus-3, .icon-minus-3, .icon-folder-open, .icon-tags, .icon-screen {
	font-family: 'toGoSoftware';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-minus:before {
	content: "\e000";
}
.icon-plus:before {
	content: "\e001";
}
.icon-close:before {
	content: "\e002";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-exit:before {
	content: "\e003";
}
.icon-minus-2:before {
	content: "\e004";
}
.icon-plus-2:before {
	content: "\e005";
}
.icon-folder:before {
	content: "\e006";
}
.icon-phone:before {
	content: "\e00c";
}
.icon-person:before {
	content: "\e00d";
}
.icon-menu:before {
	content: "\e00e";
}
.icon-group:before {
	content: "\e00f";
}
.icon-mail:before {
	content: "\e011";
}
.icon-directions:before {
	content: "\e012";
}
.icon-user-add:before {
	content: "\e013";
}
.icon-target:before {
	content: "\e014";
}
.icon-disk:before {
	content: "\e015";
}
.icon-trash:before {
	content: "\f014";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-print:before {
	content: "\f02f";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-group-2:before {
	content: "\f0c0";
}
.icon-pencil:before {
	content: "\e016";
}
.icon-location:before {
	content: "\e017";
}
.icon-bell:before {
	content: "\e018";
}
.icon-stopwatch:before {
	content: "\e019";
}
.icon-spinner:before {
	content: "\e01a";
}
.icon-spinner-2:before {
	content: "\e01b";
}
.icon-spinner-3:before {
	content: "\e01c";
}
.icon-spinner-4:before {
	content: "\e01d";
}
.icon-spinner-5:before {
	content: "\e01e";
}
.icon-spinner-6:before {
	content: "\e01f";
}
.icon-cog:before {
	content: "\e020";
}
.icon-key:before {
	content: "\e021";
}
.icon-enter:before {
	content: "\e022";
}
.icon-checkmark:before {
	content: "\e023";
}
.icon-camera:before {
	content: "\e007";
}
.icon-image:before {
	content: "\e010";
}
.icon-file:before {
	content: "\e024";
}
.icon-search:before {
	content: "\e025";
}
.icon-menu-2:before {
	content: "\e026";
}
.icon-profile:before {
	content: "\e027";
}
.icon-user:before {
	content: "\e028";
}
.icon-office:before {
	content: "\e029";
}
.icon-notebook:before {
	content: "\e02a";
}
.icon-truck:before {
	content: "\e02b";
}
.icon-cross:before {
	content: "\e02c";
}
.icon-plus-3:before {
	content: "\e02d";
}
.icon-minus-3:before {
	content: "\e02e";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-screen:before {
	content: "\e008";
}
