@font-face {
   font-family: 'Open Sans';
   src: url('fonts/Open_Sans/OpenSans-Light.ttf');
   font-style: normal;
   font-weight: 200;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf');
    font-style: normal;
    font-weight: 700;
}

::-webkit-scrollbar{
    width: 1px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.6);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1);
    cursor: pointer;
}

/* Nicolas Gallagher's micro clearfix */
.clearfix:before, .clearfix:after { /*content: "";*/ display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; position: relative; }
.Bradius {
  color: white!important;
  background: #000!important;
  border-radius: 4px;
}
.BtnGrenn{
 background-color: #39B54A;  
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(57,149,74,1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(57,149,74,1);
  box-shadow: 0px 2px 0px 0px rgba(57,149,74,1);
  width: 100%;
}
.divlog{
    text-align: center;
}
.subtext{
    font-size: .75rem;
  color: rgb(103, 103, 103)!important;
}
.activeoverlay{
   height: 113px!important;
}
.switchNoti{
  border-radius: 6px;
  margin: 2%;
  width: 50px!important;
  right: 0;
  position: absolute!important;
  top: -4px;
  height: 21px!important;
}
.AzulNoti{
  border: none!important;
  border-radius: 4px!important;
  padding-bottom: 4px!important;
  font-size: 14px!important;
  padding: 30px;
  margin-top: 0px;
  padding-top: 4px!important;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  -moz-box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  color: white!important;
  text-transform: uppercase!important;
  width: 94%!important;
  background: #177D8C!important;
  border-radius: 4px!important;
}
div#overlay {
  top: 27px;
  background: rgba(23, 21, 21, 0.61);
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 0;
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}
.AzulNoti:hover{
  background: rgba(19,104,117,1)!important;
}
.AceptarNoti {
  border: none!important;
  border-radius: 4px!important;
  padding-bottom: 4px!important;
  font-size: 14px!important;
  padding: 30px;
  margin-top: 0px;
  padding-top: 4px!important;
  height: 0px;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(57, 149, 74, 1)!important;
  -moz-box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  box-shadow: 0px 3px 2px 0px rgba(57, 149, 74, 1)!important;
  color: white!important;
  text-transform: uppercase!important;
  width: auto;
  background: #39B54A!important;
}
.AceptarNoti:hover{
  background: #39954A!important;
}
#containerNoti{
    position: absolute;
  right: 0;
}
.arrowLeft{
    cursor: pointer;
  display: none;
  max-width: 25px!important;
  position: absolute;
  top: 55px;
  display: block;
  width: 39px!important;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 22222;
  right: 322px;
}
#numNoti{
  border: 1px solid rgb(35, 187, 210);
  text-align: center;
  background: black;
  display: none;
  max-width: 32px!important;
  position: absolute;
  top: -8px;
  display: block;
  width: 20px!important;
  z-index: 22222;
  right: 170px;
  border-radius: 54%;
  font-size: 17px;
}
.arrowRigth{
  cursor: pointer;
  display: none;
  max-width: 25px!important;
  position: absolute;
  top: 55px;
  display: block;
  width: 39px!important;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 22222;
  right: 20px;
}
 .noti{
  margin-right: 17px;
  padding: 5px;
  text-align: center;
  display: none;
  border: 2px solid rgba(35, 187, 210, 1);
  z-index: 11111;
  position: absolute;
  width: 335px;
  background: rgba(0, 0, 0, 1);
  height: auto;
  right: 0;
  margin-top: 10px;
}

.showarrow{
display: block!important;
  -webkit-animation-name: SHOWarrow;
  -webkit-animation-duration: 2s;
   -webkit-animation-timing-function: ease;
  animation-name: CloseNoti;
  animation-duration: 2s;
  animation-timing-function: ease;
}
@-webkit-keyframes SHOWarrow{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}
@keyframes SHOWarrow{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}
.selectitem{
  -webkit-animation-name: SelectItem;
  -webkit-animation-duration: 8s;
  -webkit-animation-timing-function: ease;
  animation-name: SelectItem;
  animation-duration:8s;
  animation-timing-function: ease;
}
@-webkit-keyframes SelectItem{
  0%{background: rgba(23, 125, 140, 0);}
  10%{background: rgb(182, 227, 234);}
  20%{background: rgba(23, 125, 140, 0);}
  40%{background: rgb(182, 227, 234);}
  60%{background: rgba(23, 125, 140, 0);}
  80%{background: rgb(182, 227, 234);}
  100%{background: rgba(23, 125, 140, 0);}
}
@keyframes SelectItem{
  0%{background: rgba(23, 125, 140, 0);}
  10%{background: rgb(182, 227, 234);}
  0%{background: rgb(182, 227, 234);}
  20%{background: rgba(23, 125, 140, 0);}
  40%{background: rgb(182, 227, 234);}
  60%{background: rgba(23, 125, 140, 0);}
  80%{background: rgb(182, 227, 234);}
  100%{background: rgba(23, 125, 140, 0);}
}
.showNoti2{
display: block!important;
  -webkit-animation-name: SHOWNOTICarru;
  -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease;
  animation-name: SHOWNOTICarru;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@-webkit-keyframes SHOWNOTICarru{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}
@keyframes SHOWNOTICarru{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}
.btnNoti{
   background: #808080!important;
  padding: 10px!important;
  width: 40px!important;
  position: relative;
  border: none!important;
  border-radius: 3px;
  cursor: pointer;
  height: 36px!important;
  margin-top: 15%;

}
.btnNoti:hover{
  background: #737373!important;
  border: 1px solid #737373;
}
.dontview:hover{
 background:rgba(202,39,70,1)!important;
}
.dontview{
  -webkit-box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
  box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
  cursor: pointer;
    padding-top: 1px;
  padding-bottom: 2px;
    background:rgb(238, 62, 70)!important;
}
.visto{
    padding-top: 1px;
  padding-bottom: 2px;
    background:rgb(57, 181, 74)!important;
}
.closenoti{
  display: block!important;
  -webkit-animation-name: CloseNoti;
  -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease;
  animation-name: CloseNoti;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@-webkit-keyframes CloseNoti {
  0% {
  opacity: 1;
  }
  100%{
  opacity: 0;
  }
}
@keyframes CloseNoti {
  0% {
  opacity: 1;
  }
  100%{
  opacity: 0;
  }
}
.shownoti{
  -webkit-animation-name: showNoti;
  -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease;
  animation-name: showNoti;
  animation-duration: 1s;
  animation-timing-function: ease;
  display: block!important;
  right: 0;
  transform:  translateX(0%)!important;
  -webkit-transform:  translateX(0%)!important;
}
@-webkit-keyframes showNoti {
  0% {
   transform: translateX(100%);
   -webkit-transform: translateX(100%);
  }
  100%{
   transform:  translateX(0%)!important;
   -webkit-transform:  translateX(0%)!important;
  }
}
@keyframes showNoti {
  0% {
   transform: translateX(100%);
   -webkit-transform: translateX(100%);
  }
  100%{
   transform:  translateX(0%)!important;
   -webkit-transform:  translateX(0%)!important;
  }
}
.Imglogo{
      height: 29px;
  margin-bottom: 0;
}

html, body {
    background: transparent;
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    height: 100%;
    width: 100%;
}

input[type=text].large,
input[type=password].large,
input[type=email].large,
input[type=search].large,
input[type=url].large,
input[type=number].large,
input[type=file].large,
input[type=date].large,
input[type=datetime].large,
select.large {
    font-size: 1.25em;
    padding: .2em;
}


input.Bradius:focus {
  color: white;
}

input[type=submit],
input[type=button],
a.button {
    border: 1px solid rgba(255,255,255,0.0);
    color: #fff;
    font-size: .9em;
    padding: .8rem 2rem;
    -webkit-transition: 0.1s all ease-out;
    transition: 0.1s all ease-out;
}


input[type=submit].alert-button,
input[type=button].alert-button,
a.alert-button {
    background: #a90329;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(100%,#6d0019));
    background: -webkit-linear-gradient(top,  #a90329 0%,#6d0019 100%);
    background: linear-gradient(to bottom,  #a90329 0%,#6d0019 100%);
}

input[type=submit].main-button,
input[type=button].main-button,
a.main-button {
    background: #68f2d8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#68f2d8), color-stop(100%,#36b59b));
    background: -webkit-linear-gradient(top,  #68f2d8 0%,#36b59b 100%);
    background: linear-gradient(to bottom,  #68f2d8 0%,#36b59b 100%);
}

fieldset legend,
td,
p,
a{
    color: #fff;
    margin: 0;
    padding: 0;
}

/*fieldset, .bg-light-white {
    background: rgba(255,255,255,0.1);
}*/
fieldset legend {
    background: transparent;
    font-size: .8rem;
    text-shadow: none;
}


form.custom .custom.dropdown {
    background: transparent;
    color: #fff;
    margin-bottom: 0;
}
form.custom .custom.dropdown .current {
  color: #AEAEAE!important;}

/* =App Body
--------------------------------- */
#app {
    background: #000000;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 0;
}

#app-content {
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
}

#app-content .container {
    display: table;
    height: 100%;
    width: 100%;
}

#app-content .cell {
    position: relative;
    vertical-align: top;
}


/* =App Footer
----------------------- */
#app-footer {
   height: 42px;
  display: block;
}
#app-footer .cell {
    /*height: 100px;*/
    /*max-width: 100px;*/
    min-height: 100px;
    padding-bottom: 0;
    vertical-align: middle;
}
#app-footer h2,
#app-footer h3 {
    font-weight: 300;
    line-height: 1em;
}
#app-footer h4 {
    font-size: 1rem;
    font-weight: 200;
}
#app-footer h2 {
    font-size: 2rem;
}
#app-footer h3 {
    font-size: 1.5rem;
}

/* =App Header
----------------------- */
#app-header {
    padding-bottom: 4px;
  margin-top: 4px;
  height: auto;
  display: block;
  /* border-style: solid; */
  border-bottom: 5px solid #23BBD2;
  overflow: hidden;}
#app-header .cell {
     height: 41px;
  display: block;
  /* height: auto; */
  overflow: hidden;
}
/*******/
.liContn{
    width: 212px!important;
  border-top: 1px solid white;
  /* padding: 0 1px 0 1px; */
}
.navPrincipal{
  /* margin-right: 336px; */
  top: -46px;
  position: absolute;
  right: 0;
  margin-top: -50px;
  width: 10px;
}
a.aLink:hover {
  color: #23BBD2!important;
}
.aLink{
  line-height: 3!important;
  padding-left: 38px!important;
}
.SelectedMenu2{
  background: #E6E6E6!important;
  border-bottom: 1px solid #B3B3B3;
}
.SelectedMenu{
  background: #4D4D4D!important;
}
.ulContnt{
    margin-top: 44px!important;
}
.hidemenu{
    height: 44px;
  width: 50px;
  margin-top: 46px;
}

.show{   margin-left: 7px;
  width:100%;
  height: 100%;
  transition: .5s;
  background: transparent;
  z-index: 10000;
  position: relative;
  right: 0;
  margin-right: 0!important;
}

.menuDesp{
    margin-right: 22px;
  /* top: -50px; */
  /* right: 0; */
  /* float: right; */
  /* position: absolute; */
}
/*******/

/* =App Sections
----------------------- */
.last-order h2, 
{
  color: rgb(27, 23, 23);
}
#app-sections {
  margin-top: 1%;
  /* color: #000!important; */
  overflow-x: hidden;
  /* display: table-row; */
}
#app-sections .cell {
  display: block!important;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
}
#app-sections .section {
    display: none;
    position: relative!important;
    top: 0;
    width: 100%;
}
#app-sections .section:first-child {
    display: block;
}

/* =Curtain
----------------------- */
.curtain {
    background: rgba(0,0,0,0);
    height: 100%;
    left: 0;
    position: fixed;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    top: 0;
    width: 100%;
}
.curtain.ready {
    background: rgba(0,0,0,0.7);
}

/* =Day List
----------------------- */
#day-list li p {
    display: inline;
}
#day-list li p:nth-child(n+2):before {
    content: '';
}

/* =Gallery
----------------------- */
.gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gallery li {
    display: inline-block;
    margin: 0 4% 1em 0;
    padding: 0;
    vertical-align: top;
    width: 22%;
}
.gallery li:nth-child(4n) {
    margin: 0 0 1em 0;
}
.gallery figure {
    cursor: pointer;
    opacity: 0.5;
    position: relative;

    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.gallery figure:hover {
    opacity: 1;
}
.gallery figure:hover .actions {
    opacity: 1;
}
.gallery figure:hover .divBlack{
    display: block;
}
.divBlack{  margin: 0px 6px 0px 1px;
  top: 2px;
  background: rgba(13, 4, 4, 0.68);
  padding: 0;
  height: 171px;
  width: 98.2%;
  display: none;
  position: absolute;
}
.Btn1Per {
  color: #808080;
  border-radius: 3px;
  background: #FFFFFF;
}
a.delete.Btn2Per {
  color: white;
  border-radius: 3px;
  background: #EE3E46;
}
.gallery figure .actions {    width: 69%;
  opacity: 0;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 37%;
  left: 53%;
  transform: translate(-50%,-50%);

}
.gallery figure .actions li {
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: top;
  margin-right: 8px!important;
}
.gallery figure .actions a {
    display: block;
    height: 30px;
    margin: 0 !important;
    padding: .2em !important;
    text-align: center;
    width: 30px;

    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.gallery figure .actions a:hover {
    background: rgba(0,0,0,0.8);
    color: #fff;
}
.gallery figure .actions a.details:hover {
  background-color: rgba(132, 208, 220, 1);
}
.gallery figure .actions a.delete:hover {
    background-color: rgba(232, 34, 67, 0.8);
}
.gallery figure .actions a.edit:hover {
  background-color: rgba(132, 208, 220, 1);
}
.addUser{
   left: 50%;
  text-align: center;
  display: block;
  border: 4px solid #B3B3B3;
  color: #B3B3B3;
  font-size: 43px;
  background: #CCCCCC;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  top: 50%;
  position: absolute;
}
.addUser:hover{
background: #9B9B9B!important;
}
.TaddUser{
  text-align: center;
  display: table-cell;
  border: 4px solid #B3B3B3;
  color: #B3B3B3;
  font-size: 43px;
  background: #CCCCCC;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translate(120%,120%);
  font-weight: bold;
}
.gallery .gallery-pic {
  border: 2px solid #23BBD2;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  height: 175px;
  width: 100%;
  border-radius: 2px;
}
.padding{
    padding: 0;
}
.ImgPerfil{
 margin-right: 4%;
  float: right;
  border-radius: 50%;
  background-color: white;
  width: 35px;
  height: 36px;
}
.namePerfil{
  line-height: 1;
  text-transform: capitalize;
  font-size: 16px;
}
.matrizPerfil{
      font-size: 15px;
}
.fechaHeader{
  float: right;
  right: 0;
  text-transform: initial;
  font-weight: 500;
  color: white;
  /* margin-left: 325px; */
  margin-left: calc(100%-50px);
  font-size: 21px;
}
header {
    top: 20px;
}
.headerLogo{
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 37px;
  margin-right: .7em;
  margin-left: 34px;
  position: relative;
  width: 122px;
  text-align: center;
}
.CirX2 {
  position: absolute!important;
  right: -62%!important;
  top: -43.5%!important;
  color: white!important;
  border: 1px solid white;
  padding: 0 3px 0 3px;
  border-radius: 11px;
  font-size: 15px!important;
}
.CirX{
  position: absolute!important;
  right: -62%!important;
  top: -100.5%!important;
  color: white!important;
  border: 1px solid white;
  padding: 0 3px 0 3px;
  border-radius: 11px;
  font-size: 15px!important;
}
.logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 138px;
  position: relative;
  width: 158px;
  margin: 0 auto;

}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav li {
    display: inline-block;
    margin-left: .5em;
}
header nav li:first-child {
    margin-left: 0;
}
header nav a {
    border: 1px solid rgba(255,255,255,0);
    display: block;
    -webkit-border-radius: 10px;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    height: 100px;
    position: relative;
    text-align: center;
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-out;
    width: 100px;
}
header nav a:hover,
header nav a:focus {
    border: 1px solid rgba(255,255,255,0.9);
    box-shadow: inset 0 0 8px rgba(255,255,255,0.2);
    color: #fff;
}
/*header nav a:active,
header nav a.active,
header nav a.usuarios:active,
header nav a.usuarios.active,
header nav a.pedidos:active,
header nav a.pedidos.active,
header nav a.clientes:active,
header nav a.clientes.active,
header nav a.reportes:active,
header nav a.reportes.active,
header nav a.feedback:active,
header nav a.feedback.active {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 0px 0 #8f4800;
}*/

header nav a i {
    display: inline-block;
    font-size: 4em;
    margin: .5rem auto .2rem auto;
}
header nav a p {
    font-size: .7em;
}

/* =Btn Usuarios
----------------------- */
header nav a.usuarios {
    background: #fed72a;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed72a), color-stop(100%,#d46300));
    background: -webkit-linear-gradient(top,  #fed72a 0%,#d46300 100%);
    background: linear-gradient(to bottom,  #fed72a 0%,#d46300 100%);
}

/* =Btn Pedidos
----------------------- */
header nav a.pedidos {
    background: #30BFB5;
   /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00ffed), color-stop(100%,#1531ff));
    background: -webkit-linear-gradient(top,  #00ffed 0%,#1531ff 100%);
    background: linear-gradient(to bottom,  #00ffed 0%,#1531ff 100%);*/

}

/* =Btn Clientes
----------------------- */
header nav a.clientes {
    background: #B147BF;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e62aff), color-stop(100%,#d46300));
    background: -webkit-linear-gradient(top,  #e62aff 0%,#d46300 100%);
    background: linear-gradient(to bottom,  #e62aff 0%,#d46300 100%);*/
}

/* =Btn Reportes
----------------------- */
header nav a.reportes {
    background: #BF3046;
   /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe002a), color-stop(100%,#d49a00));
    background: -webkit-linear-gradient(top,  #fe002a 0%,#d49a00 100%);
    background: linear-gradient(to bottom,  #fe002a 0%,#d49a00 100%);*/
}

/* =Btn Fedback
----------------------- */
header nav a.feedback {
    background: #2DB35A;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00ef53), color-stop(100%,#008cbf));
    background: -webkit-linear-gradient(top,  #00ef53 0%,#008cbf 100%);
    background: linear-gradient(to bottom,  #00ef53 0%,#008cbf 100%);*/
}

.hidden {
    display: none !important;
}

/* =Off Canvas
------------------------ */
.off-canvas {
    background: rgba(0,0,0,0.8);
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

/* =ORder Table
------------------------ */
.order-products-table {
      border-left: 1px solid rgb(35, 187, 210);
  border-right: 1px solid rgb(35, 187, 210);
    height: 260px;
    max-height: 260px;
    overflow: hidden;
    overflow-y: auto;
}

/* =Products List
------------------------ */
.products-list {
  list-style: none;
  font-size: 0.9em;
  margin: 0;
  max-height: 270px;
  overflow-y: scroll;
  padding: 0;
}
.products-list li {
  padding-bottom: 0px!important;
  border: none;
  padding-top: 0px!important;
  border-bottom: 1px solid rgb(35, 187, 210);
  cursor: pointer;
  padding: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.products-list li:hover {
    background: rgba(255,255,255,0.3);
}
.products-list li h5 {
    font-size: 1em;
}

/* =Reportes
---------------------- */
.report {
    opacity: 0.1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.report.show {
    opacity: 1;
}

.report .canvas {
    height: 350px;
    max-width: 100%;
    width: 100%;

}

#section-wrapper {
      display: block;
    position: relative;
    height: 100%;
}


/* =Settings
----------------------- */
.hover-action {
    background: transparent;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    z-index: 1;
}
.textazul{
    color:#49C5D8;
}
.logoMenu{
  top: -16px;
  height: 500px;
  overflow: hidden;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  /* background-position: center center; */
  margin: 0 0 0 9%;
}
.menu2{
  position: relative;
  /* height: 39px; */
  /* margin-left: 39%; */
  /* background: rgb(166, 174, 174); */
  padding: 0;
}
.PrincipalSec{
  background: #E6E6E6;
  height: 68vh;
}
.Footer{
  z-index: 90000;
  background: #E6E6E6;
  height: 15vh;
}
.SelectedMenu2:after {
   content: "";
  z-index: 1;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%); 
  width: 0;
  height: 0;
  border-width: 5px 4px 0;
  border-style: solid;
  border-color: #E6E6E6 transparent transparent;
}
.SelectedMenu2:before {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 0;
  height: 0;
  border-width: 7px 6.8px 0;
  border-style: solid;
  border-color: #B3B3B3 transparent transparent;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%); 
}
 .LiMenu2 {
  position: relative;
  height: 62px!important;
  padding-top: 11px!important;
  line-height: 1px;
}
div#wizard-handler {
  background: #E6E6E6;
  height: 100vh;
}
a.profile.aLink {
  padding: 2px!important;
  padding-left: 28px!important;
  font-size: 16px!important;
}
a.exit.aLink {
  padding: 2px!important;
  padding-left: 28px!important;
  font-size: 16px!important;
}
.letraMenu2{
   margin-top: 4%;
  color: #000000;
  font-weight: 700;
}
.Blockmenu2{
  height: 62px;
  border-bottom: 1px solid #B3B3B3;
  background: #F2F2F2;
  text-align: center;
  margin: 0 0!important;
}
.settings-layer {
   display: block;
  background: #000000;
  height: 100%;
  /* min-width: 300px; */
  padding: 0 0 3px 0;
  position: fixed;
  /* top: 0; */
  /* width: 25%; */
  /* -webkit-transition: all 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000); */
  /* transition: all 600ms cubic-bezier(0.075, 0.820, 0.165, 1.000); */
  /* z-index: 3; */
  width: 17%;
  overflow: hidden;
  /* text-align: center; */
}
.settings-layer.hidden {
    left: 100%;
}
a.aLink:hover {
  background-color: #4D4D4D!important;
}
.settings-layer.animate {
    left: 75%;
}

.settings-layer .menu-list {
  line-height: 1.29;
/*    border: 1px solid rgba(255,255,255,0.4);*/
}
.settings-layer .menu-list li {
   border-bottom: 1px solid #4D4D4D;
}
.settings-layer .menu-list li a {
  background-color: rgba( 255, 255, 255, 0 );
  display: block;
  padding: 18px 25px 18px 25px;
}
li.LiMenu2 {
  padding-top: 18px!important;
}
.settings-layer .menu-list li:hover {
  background-color: #4D4D4D!important;
}
.settings-layer .menu-list i {
    font-size: .9em;
    margin-right: .5rem;
}

@-webkit-keyframes hide {
    from {
        left: 75%;
    }
    to {
        left: 100%;
    }
}

@-webkit-keyframes show {
    from {
        left: 100%;
    }
    to {
        left: 75%;
    }
}

/* =Table
----------------------- */
table {
    background: transparent;
    border: none;
}
table tr th, table tr td {
    color: #fff;
    padding: .3em;
}
table thead,
table tr.even, table tr.alt, table tr:nth-of-type(even){
    background: rgba(255,255,255,0.3);
}

/* =.row override*/
.row {
    max-width: 100%;
}

/* =Reveal Modal Override
------------------------ */
.reveal-modal {
      position: fixed;
    background: rgba(255,255,255,0.05);
    border: none!important;
}
.reveal-modal.clear {
    background: rgba( 255, 255, 255, 0 );
    border: 1px solid rgba(255,255,255,0);
    -webkit-box-shadow: none !important;
}
.reveal-modal.error {
 transform: translate(-50%,-50%);
  text-align: center;
  /* border: 2px solid #23BBD2!important; */
  position: absolute;
  top: 50%;
  left: 70%!important;
}
.reveal-modal.info {
width: 45%;
  margin: 0!important;
  text-align: center;
  /* border: 2px solid #23BBD2!important; */
  position: absolute;
  left: 50%;
  top: 50%!important;
  transform: translate(-50%,-50%);
}
a.medium.button.success.alignright.forward {
  height: 31px!important;
  text-transform: uppercase!important;
  padding-top: 9px!important;
}
.reveal-modal.notice {
  margin: 0!important;
  text-align: center;
  /*border: 2px solid #23BBD2!important;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
button.success.button.save.Aceptar {
  text-transform: uppercase;
  font-size: 14px!important;
  height: 41px!important;
}
.reveal-modal.popup {
  top: -2em;
}
a.aLink:hover,  a.aLink:focus {
  color: white!important;
}
.reveal-modal-bg {
    background: #000;
}
.menu-list li a:hover,.menu-list li a:focus,.menu-list li a:active{
  color: white!important;
}

.settings {
    margin-top: 1.8rem;
    opacity: 0.6;
}
.settings:hover {
    color: #fff;
    opacity: 1;
}

#status-bar {
    display: none;
    position: absolute;
    height: 30px;
    width: 100%;
}
#status-bar nav {
    float: right;
    margin: .3em 1em;
}
#status-bar nav li {
    display: inline-block;
    margin-left: .4em;
}
#status-bar nav a {
    opacity: 0.6;
}
#status-bar nav a:hover {
    color: #fff;
    opacity: 1;
}
#status-bar nav i {
    font-size: .65em;
}

/* =Tabs Panel
---------------------- */
.tabs-panel {
    position: relative;
}
.tabs-panel .tabs {
    margin-top: 1.5em;
}
.tabs-panel .tabs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs-panel .tabs li {
    display: block;
}
.tabs-panel .tabs a {
    display: block;
    border: 1px solid rgba(255,255,255,0.8);
    border-top: none;
    padding: .5em;
    width: 90%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tabs-panel .tabs a:hover,
.tabs-panel .tabs a:focus {
    color: #fff;
}
.tabs-panel .tabs li:first-child a {
    border-top: 1px solid rgba(255,255,255,0.8);
}

.tabs-panel .tabs li:hover a,
.tabs-panel .tabs li:focus a,
.tabs-panel .tabs li.active a {
  color: white;
    font-weight: 700!important;
  background: #23BBD2;
}


/* =OOCSS
---------------------- */
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.auto-height {   overflow-x: hidden;
  overflow-y: scroll;}
.auto-height-section {}
.auto-height-section .scroll-section {
    bottom: 0;
    overflow-y: scroll;
    top: 0;
}
/*.big-light-text {
    font-size: 4rem !important;
    font-weight: 200 !important;
    text-transform: uppercase;
}*/
.big-text {
    font-size: 4rem !important;
    font-weight: 700 !important;
}
/*.big-light-text,
.big-text {
    font-family: 'Open Sans', sans-serif;
    opacity: 0.6;
}*/
.blur {
    -webkit-filter: blur(3px);
}
.bordered {
    border: 1px solid rgba(255,255,255,0.3);
}
.border-list {
    border: 1px solid rgba(255,255,255,0.3);
    width: 100%;
}
.border-list li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: .5rem 1rem;
}
.border-list li .item {
    padding-left: .5rem;
}
.item.status-green {
    background:green;
}
.item.status-orange {
    background:orange;
}
.item.status-red {
    background:red;
}
.item.status-yellow {
    background:#ffff00;
}
.item.status-white {
    background:#fff;
}
.color {
  height: 100%;
  position: absolute;
  width: 18px;
  float: left;
  margin-right: 11%;
}
.border-table {
    border: 1px solid rgba(255,255,255,0.3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.BorAzul{
    border: 2px solid #23BBD2;
}
button.button.BtnCAT.expand {
  margin: 0;
  border-radius: 4px;
  -webkit-box-shadow: 1px 4px 2px -1px rgba(19,104,117,1);
  -moz-box-shadow: 1px 4px 2px -1px rgba(19,104,117,1);
  box-shadow: 1px 4px 2px -1px rgba(19,104,117,1);
  padding: 7px 0 7px 0;
  text-transform: uppercase;
  background: #177D8C;
  border: none;
  font-size: 14px;
}
button.button.BtnCAT.expand:hover {
  background: rgba(19,104,117,1);
}
.nameCAT {
  font-weight: 600!important;
  background: #F7F7F7!important;
  border: none!important;
  border-radius: 5px;
  padding: 0 7px 0 7px !important;
}
.DesCAT {
  font-weight: 600;
  background: #F7F7F7;
  border: none;
  border-radius: 4px;
  padding: 6px 7px 0 7px;
  height: 100px;
}
.catH6{
    font-weight: bold;
  margin-top: 0;
  padding: 5px 0px 2px 8px;
  background: #23BBD2;
  top: 0;
  color: white;
}
h5.Twhite {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.border-table td {
  border-bottom: 1px solid #23BBD2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .5em;
}
.border-table thead {
  border: 1px solid #23BBD2;
  /* color: red!important; */
  background-color: #23BBD2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.border-table thead td {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.border-table tr.even,
.border-table tr.alt, table tr:nth-of-type(even) {
    background-color: rgba(255,255,255,0.1);
}

.border-yellow {
    border: 1px solid #f2c43d;
}
.border-green {
    border: 1px solid #5da423;
}

.bottom-title {
    bottom: 0;
    font-size: 3em;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    left: 0;
    line-height: 1em;
    margin: 0;
    opacity: 0.8;
    padding: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.btn-block-icon-label label {
    margin-top: .5rem;
}
.btn-line-icon-label i,
.btn-line-cion-label label {
    display: inline-block;
}
.btn-line-icon-label label {
    margin-left: .5rem;
}
.circle-status {
    background-color: #fff;
    border-radius: 50%;
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}
.circle-status.green {
    background-color: green;
}
.circle-status.yellow {
    background-color: #ffff00;
}
.circle-status.orange {
    background-color: orange;
}
.circle-status.red {
    background-color: red;
}
.circle-status.white {
    background-color: white;
}
.fontsize-08 {
    font-size: 0.8rem;
}
.fontsize-1 {
    font-size: 1rem;
}
.fontsize-1-5 {
    font-size: 1.5rem;
}
.fontsize-2 {
    font-size: 2rem;
}
.fontsize-3 {
    font-size: 3rem;
}
.fontsize-4 {
    font-size: 4rem;
}
.full-height {
    height: 100%;
    overflow-y: scroll;
}
.full-screen {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
.hide {
    display: none;
}
.hidden-field {
    border: 0;
    font-size: 0;
    height: 0 !important;
    line-height: 0;
    margin: 0 !important;
    padding: 0;
    visibility: hidden;
}
.image-wrapper {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: 100%;
}
.inline {
    display: inline;
}
.inline-details {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: none;
}
.inline-details p {
    display: inline;
    margin: 0;
    padding: 0;
}
.inline-details p + p:before {
    content: ', ';
}
a.light-link {
    color: #fff;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
a.light-link:hover {
    opacity: 1;
}
[class*="max-height-"] {
    overflow-y: auto;
}
.margin-top-1 {
    margin-top: 1rem;
}
.max-height-9 {
    max-height: 9rem;
}
.max-height-10 {
    max-height: 10rem;
}
.max-height-12 {
    max-height: 12rem;
}
.max-height-15 {
    max-height: 15rem;
}
.max-height-18 {
    max-height: 18rem;
}
.max-height-20 {
    max-height: 20rem;
}
.max-height-23 {
    max-height: 23rem;
}
.max-height-22 {
    max-height: 22rem;
}
.max-height-24 {
    max-height: 24rem;
}
.no-list,
.no-list li {
    list-style: none;
}
.no-margin {
    margin: 0 !important;
}
.padding-05 {
    padding: 0.5rem !important;
}
.padding-1 {
    padding: 1rem;
}
.padding-h1 {
    padding: 0 1rem;
}
.space-bottom-1 {
    margin-bottom: 1rem;
}
.space-right-1 {
    margin-right: 1em;
}
.space-top-05 {
    margin-top: 0.5rem;
}
.space-top-1 {
    margin-top: 1rem;
}
.space-top-2 {
    margin-top: 2rem;
}
.space-top-7 {
    margin-top: 7rem;
}
.text-huge {
    font-size: 4rem;
}
.text-icon-label {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    font-weight: 200;
}
.text-black {
  color: #130303 !important;
} 
.text-green {
    color: green;
}
.text-red {
    color: red;
}
.thin-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

/* =Animations
------------------------ */
.section.show-from-left {
    animation-name: left-to-position;
    animation-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-fill-mode: both;
}
.section.show-from-right {
    animation-name: right-to-position;
    animation-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-fill-mode: both;
}
.section.hide-to-left {
    animation-name: position-to-left;
    animation-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-fill-mode: both;
}
.section.hide-to-right {
    animation-name: position-to-right;
    animation-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-fill-mode: both;
}

@-webkit-keyframes right-to-position {
    from {
        left: 100%;
        opacity: 0;
    }

    to {
        display: block;
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes position-to-left {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        display: none;
        left: -100%;
        opacity: 0;
    }
}

@-webkit-keyframes left-to-position {
    from {
        left: -100%;
        opacity: 0;
    }

    to {
        display: block;
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes position-to-right {
    from {
        left: 0;
        opacity: 1;
    }

    to {
        display: none;
        left: 100%;
        opacity: 0;
    }
}

/* =jQuery.UI
---------------------- */
.ui-datepicker {
    background: rgba(255,255,255,0.8);
    font-family: 'Open Sans', serif;
    font-size: 1em;
    font-weight: 300;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
    font-family: 'Open Sans', serif;
    font-size: 1.1em;
    font-weight: 400;
}
.ui-datepicker .ui-datepicker-calendar a {
    background: rgba(255,255,255,0);
    border: none;
}


/*flat form settings*/
.flat-form {
    margin: 10px auto !important;
    width: 100%;
    position: relative;
}

.flat-form ul {
    list-style: none;
}

.pestania {
    background: #0d0156;
    height: 49px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    position: relative;
    display: block;
}

.pestania li {
    float: left;
    margin: 0 !important;
    padding: 0 !important;
}

.pestania li:last-child a {
    border-right: none;
    width: 174px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.active2{
  display: block!important;
}

.pestania a.active {
    background:#00BA0D;
    border-left: 4px solid green;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
button.small.Aceptar.button.success.update.no-margin {
  text-transform: uppercase!important;
  border: none!important;
}
.pestania a {
    background: #0d0156;
    display: block;
    float: left;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 12px 22px 12px 22px !important;
    /* border-right: 1px solid @tab-border; */
}
.inactivo{
  display: none!important;
}
.activo{
  display: block!important;
}
li.LiMenu2:hover {
  background: #E6E6E6!important;
  border-bottom: 1px solid #B3B3B3;
}
.mostrar {
    display: block;
    padding: 5% !important;
}
.nameCAT::-webkit-input-placeholder {
   color: #000;
}

.nameCAT:-moz-placeholder{ /* Firefox 18- */
   color: #000;  
}

.nameCAT::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

.nameCAT:-ms-input-placeholder{  
   color: #000;  
}
input.InpNameCat {
  border-radius: 4px;
  background: #F7F7F7;
  border: none;
  color: #000;
  font-weight: 700;
  padding: 0px 2px 0 4px;
}
.Btn2Cat{
  border-color: #EE3E46!important;
  border-radius: 4px!important;
  border-top: #EE3E46!important;
  background: #EE3E46!important;
  color: white!important;
  font-size: 17px!important;
  text-align: center!important;
  padding-left: 26%!important;
  padding-top: 13px!important;
  padding-bottom: 10px!important;

}
a.Btn2Cat:hover {
  /* border: 1px solid #970b0e!important; */
  background: #970b0e!important;
}
a.button.large.success.thin-title.save-order.expand {
  font-size: 17px;
  margin-top: 5%;
  padding-top: 9px;
  text-align: center;
  width: 100%!important;
  background: #39B54A;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A;
  -moz-box-shadow: 0px 3px 2px 0px #39954A;
  box-shadow: 0px 3px 2px 0px #39954A;
  height: 38px;
}
a.button.large.success.thin-title.save-order.expand:hover {
background: #39954A!important;
}

a.button.Aceptar.medium.close.success.ok-btn.no-margin:hover {
  background: #39954A;
}
a.large.button.success.radius.expand.space-top-1.thin-title.update-order {
  text-align: center;
  width: 100%!important;
  background: #39B54A;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A;
  -moz-box-shadow: 0px 3px 2px 0px #39954A;
  box-shadow: 0px 3px 2px 0px #39954A;
  height: 42px;
  padding-top: 12px;
}
a.large.button.success.radius.expand.space-top-1.thin-title.update-order:hover {
background: #39954A!important;
}

a#Aceptar {
  text-align: center;
  width: 96%!important;
  background: #39B54A;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A;
  -moz-box-shadow: 0px 3px 2px 0px #39954A;
  box-shadow: 0px 3px 2px 0px #39954A;
  height: 42px;
  padding-top: 12px;
}
a#Aceptar:hover{
  background: #39954A!important;
}
a.button.Aceptar.medium.close.success.ok-btn.no-margin {
  text-align: center;
  width: 96%!important;
  background: #39B54A;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A;
  -moz-box-shadow: 0px 3px 2px 0px #39954A;
  box-shadow: 0px 3px 2px 0px #39954A;
}
a.close.Cancelar2.button.medium.alert.no-btn.no-margin {
  text-align: center;
  border-radius: 4px;
  margin-left: 17px!important;
  width: 96%!important;
  background: #EE3E46;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
  box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
}
a.close.Cancelar2.button.medium.alert.no-btn.no-margin:hover {
  background: rgba(202,39,70,1);
}
a.close.Cancelar.button.medium.alert.no-btn.no-margin:hover {
  background: rgba(202,39,70,1);
}
a.close.Cancelar.button.medium.alert.no-btn.no-margin {
    text-align: center;
    border-radius: 4px;
  margin-left: 17px!important;
  width: 96%!important;
  background: #EE3E46;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
  box-shadow: 0px 3px 2px 0px rgba(202,39,70,1);
}
a.small.BtnAzul.button.secondary.edit {
  -webkit-box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  -moz-box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  color: white!important;
  text-transform: uppercase!important;
  width: 94vh!important;
  background: #177D8C!important;
  border: none!important;
  border-radius: 4px!important;
}
.horaEntrega{
   position: absolute;
  right: 33px;
  color: rgb(189, 234, 241);
  font-size: 15px;
}
.horaEnvio{
    color: rgb(189, 234, 241);
  left: 6%;
  position: absolute;
  font-size: 15px;
}
 .liDaylist {
  margin-bottom: 5%;
  position: relative;
  height: auto;
  padding: 0!important;
  border: 1px solid rgb(35, 187, 210);
  position: relative;
  max-height: 150px;
}
.TextBlackBold{
  color: #000!important;
  font-weight: bold!important;
}
.Text-Black{
  color: #000!important;
}
.arrow{
      margin-left: 9px;
    border-left: 8px solid transparent!important;    
    border-right: 10px solid transparent!important;    
    border-top: 7px solid!important;;

}
li.has-dropdown.hidemenu {
  width: 39px!important;
  background: #000!important;
  top: 9px!important;
  right: 25px!important;
  height: 36px!important;
  padding-top: 17px;
}
.spanDash1{
  margin-top: 2%;
  position: absolute;
  height: 15px;
  width: 13px;
  background: white;
  border-radius: 3px;
}
.spanDash1:after {
    content: "";
  position: absolute;
  left: 4px;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 6px solid transparent;
  border-top: 3px solid white;
  border-left: 0px solid transparent;
  border-right: 9px solid transparent;}
  .DivChange{
      height: 50px;
  background: #23BBD2;
  position: relative;
  }
  .textDashPed{font-weight: 700;
  color: #BDEAF1;}
  .textDashPed2{font-weight: 700;
  color: #FFFFFF;}
.spanDash1:before {
    content: "";
  position: absolute;
  left: 2px;
  bottom: 0;
  width: 0!important;
  height: 0;
  border-bottom: 3px solid transparent;
  border-top: 5px solid #4BCD47;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
}
.spanDash2{
   margin-top: 2%;
  position: absolute;
  height: 15px;
  width: 13px;
  background: #BDEAF1;
  border-radius: 3px;}
h5.text p {
  padding: 0;
  color: #000;
  margin: 0;
}
h5.text{
  padding: 0;
  margin: 0;
}
.textPro{  
  text-align: left;
  font-size: 15px;
  padding-left: 18px;
}
.TextBlackWhite {
  color: white!important;
  text-transform: uppercase;
}
div#products-list {
  overflow-y: scroll!important;
  position: relative!important;
  max-height: 240px!important;
}
tbody.ACat tr {
  border-bottom: 1px solid rgba(100, 207, 223, 0.99);
}
.TextWhite{
  color: white!important;
}
.MsgLogo{
  z-index: 1000;
  position: absolute;
  left: 51%;
  transform: translate(-50%);
  top: -30%;
}
button.ActCat.small.button.success {
    font-size: 14px;
  border: none;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
input.InpDescCat {
  border-radius: 4px;
  background: #F7F7F7;
  border: none;
  color: #000;
  font-weight: 700;
  padding: 0px 2px 0 4px;
}
.Btn1TPag{
  border-radius: 4px!important;
  border-top: #808080!important;
  background: #808080!important;
  color: white!important;
  font-size: 17px!important;
  text-align: center!important;
  padding-left: 9px!important;
  padding-top: 8px!important;
  padding-bottom: 7px!important;
  width: 80%!important;
}
a.Btn1TPag:hover {
  background: #737373!important;
  border: 1px solid #737373;
}
.Btn1Cat{
  width: 94%!important;
  border-radius: 4px!important;
  border-top: #808080!important;
  background: #808080!important;
  color: white!important;
  font-size: 17px!important;
  text-align: center!important;
  padding-left: 23%!important;
  padding-top: 8px!important;
  padding-bottom: 7px!important;
  margin-left: -1px!important;
}
.Btn2Cat{
   border: none!important;
  padding-left: 10px!important;
  width: 80%!important;
  border-radius: 4px!important;
  background: #EE3E46!important;
  color: white!important;
  font-size: 20px!important;
  padding-top: 5px!important;
  padding-bottom: 6px!important;
  margin-left: 8px;
  padding-right: 23.5px!important;
}
a.Btn2Cat:hover{
  border: 1px solid #970b0e;
  background: #970b0e!important;
}
a.Btn1Cat:hover {
  background: #737373!important;
  border: 1px solid #737373;
}
a.large.button.success.thin-title.complete {
  text-align: center;
  width: 89%!important;
  background: #39B54A!important;
  border: none!important;
  text-transform: uppercase!important;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A!important;
  -moz-box-shadow: 0px 3px 2px 0px #39954A!important;
  box-shadow: 0px 3px 2px 0px #39954A!important;
  height: 40px!important;
  padding-top: 9px!important;
  margin-left: 5%!important;
}
a.large.button.success.thin-title.complete:hover {
  background: #39954A!important;
}
a.close.Aceptar.medium.button.success.ok-btn{
  text-align: center;
  width: 96%!important;
  background: #39B54A;
  border: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A;
  -moz-box-shadow: 0px 3px 2px 0px #39954A;
  box-shadow: 0px 3px 2px 0px #39954A;
}
option.op:hover {
  background: rgb(35, 187, 210)!important;
}
button.Aceptar2 {
  color: white;
  text-align: center;
  width: 96%!important;
  background: #39B54A;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A;
  -moz-box-shadow: 0px 3px 2px 0px #39954A;
  box-shadow: 0px 3px 2px 0px #39954A;
  border-radius: 3px;
  margin-left: 7px;
}
button.Aceptar2:hover {
background: #39954A;
/*border: 1px solid #39954A;*/
}
a.close.Aceptar.medium.button.success.ok-btn:hover{
background: #39954A;
}
button.small.button.secondary.update.no-margin.Aceptar {
  color: white;
  text-align: center;
  width: 96%!important;
  background: #39B54A;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A;
  -moz-box-shadow: 0px 3px 2px 0px #39954A;
  box-shadow: 0px 3px 2px 0px #39954A;
  border-radius: 3px;
}
button.small.button.secondary.update.no-margin.Aceptar:hover{
background: #39954A;
}
button.small.button.alert.cancel.no-margin {
  border-radius: 3px;
  float: right;
  text-align: center;
  width: 96%!important;
  background: #EE3E46;
  border: none;
  width: 131%;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #CA2746;
  -moz-box-shadow: 0px 3px 2px 0px #CA2746;
  box-shadow: 0px 3px 2px 0px #CA2746;
}
button.small.button.alert.cancel.no-margin:hover {
   background: #CA2746;
}
fieldset.EditUser {
  border: none!important;
    padding-right: 0;
}
a#btnFoto {
  -webkit-box-shadow: 0px 2px 5px 2px rgba(102,102,102,1);
  -moz-box-shadow: 0px 2px 5px 2px rgba(102,102,102,1);
  box-shadow: 0px 2px 5px 2px rgba(102,102,102,1);
  color: white;
  background: #808080;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}
a#btnFoto:hover{
  background: rgba(102,102,102,1);
}
a#remove-image {
  height: 31px;
  border-color: #EE3E46!important;
  border-top: #EE3E46!important;
  background: #EE3E46!important;
  color: white!important;
  font-size: 20px!important;
  width: 11px;
  padding-left: 7px;
  padding-top: 5px;
}
fieldset.formEdit {
  border: none!important;
}
form#user-form {
  left: 0;
  /* margin-left: 33px; */
  margin-top: 40px;
  border: 2px solid rgb(35, 187, 210);
}
textarea#description::-webkit-input-placeholder {
  color: rgb(173, 170, 170)!important;
}
a.medium.button.success.alignright.forward {
  text-transform: uppercase;
  width: 22%;
}
a.small.button.secondary.reverse.alignleft {
  font-size: 16px!important;
  -webkit-box-shadow: 0px 3px 2px #23A4BF!important;
  -moz-box-shadow: 0px 3px 2px 0px #23A4BF!important;
  box-shadow: 0px 3px 2px 0px #23A4BF!important;
  color: white!important;
  background: #23BBD1!important;
  border: none!important;
  height: 30px!important;
  border-radius: 3px!important;
  padding-top: 8px!important;
}
a.small.button.secondary.reverse.alignleft:hover {
background:  #23A4BF!important;
}
input.IEditUser {
  background: #000;
  border-color: #909090!important;
  padding: 0 4px 0 4px;
  border-radius: 3px;
  color: white;
}
input.IEditUser:focus {
  background: #000!important;
}
.textazul:hover,  .textazul:focus, .textazul:active {
  color: #49C5D8;
}
input.IEditUser::-webkit-input-placeholder { color: #909090;  }
input.IEditUser:-moz-placeholder { color: #909090;  }
input.IEditUser::-moz-placeholder { color: #909090; }
input.IEditUser:-ms-input-placeholder { color: #909090;  }

.SelectFormat2 ::-webkit-input-placeholder {    color:  #999999!important;  }
.SelectFormat2 :-moz-placeholder {   color:  #999999!important;  }
.SelectFormat2 ::-moz-placeholder {    color:  #999999!important; }
.SelectFormat2 :-ms-input-placeholder {    color:  #999999!important;  }
input.IEditUser:focus {
  color: white;
}
.SelectFormat2 {
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  color: #000;
  background: #F7F7F7!important;
  border-radius: 3px!important;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 2px;
}
.MyAlert {
  /* font-size: 17px; */
  padding: 7px 15% 20px 18%;
}
textarea#mensaje {
 height: 100px;
  color: #000;
  border: none;
  background: #F7F7F7;
  border-radius: 3px!important;
  padding-left: 5px;
  padding-right: 5px;

}
.inputFormat {
  color: #000!important;
  border: none;
  background: #F7F7F7!important;
  border-radius: 3px;
  /* margin-left: 5px; */
}
.btn2clien {
  position: relative;
  border: none!important;
  text-align: center;
  margin-right: 0!important;
  padding-left: 4%!important;
  width: 87%!important;
  border-radius: 4px!important;
  background: #EE3E46!important;
  color: white!important;
  font-size: 20px!important;
  padding-top: 5px!important;
  padding-bottom: 4px!important;
  border-top: #EE3E46!important;
  padding-right: 1px!important;
  margin-top: 25%;
}
.btn2clien:hover {
   background-color: #970b0e!important;
}

.btn1clien:hover {
  background: #716F6F!important;
}
.btn1clien {
    text-align: center;
  margin-right: 0!important;
  padding-left: 14%!important;
  width: 88%!important;
  border-radius: 4px!important;
  background: #808080!important;
  color: white!important;
  font-size: 17px!important;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  border-top: #808080!important;
  padding-right: 12%!important;
  margin-top: 26%;
}
textarea#comentarios::-webkit-input-placeholder {
  color: #999999;
  font-weight: 100;
}
textarea#comentarios:-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-weight: 100;  
}

textarea#comentarios::-moz-placeholder {  /* Firefox 19+ */
  color: #999999;
  font-weight: 100;
}

textarea#comentarios:-ms-input-placeholder {  
  color: #999999;
  font-weight: 100;  
}

.inputFormat::-webkit-input-placeholder {
  color: #999999;
}

.inputFormat:-moz-placeholder { /* Firefox 18- */
  color: #999999;  
}

.inputFormat::-moz-placeholder {  /* Firefox 19+ */
  color: #999999;  
}

input.inputFormat,.inputFormat:-ms-input-placeholder {  
  color: #999999;  
}
.inputFormat:focus{
  color: #000;
  border: none;
  border-radius: 3px;
}
.SelectFormat:focus {
  outline-color: #909090!important;
  border-radius: 3px!important;
}
input.inputFormat{
color: #000;
  border: none;
  background: #F7F7F7;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.SelectFormat {
  height: 34px;
  border-color: #909090!important;
  color: white!important;
  background: #000!important;
  border-radius: 3px!important;
}

input.button.secondary.expand.no-margin.Azul {
  text-transform: uppercase;
  background: #177D8C;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
}
input.button.secondary.expand.no-margin.Azul:hover{
  background: rgba(19,104,117,1);

}
.FormFormat{
    padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 10px;
}
.fileContainer {
font-size: 11.5px;
  -webkit-box-shadow: 0px 3px 0px 0px #666666;
  -moz-box-shadow: 0px 3px 0px 0px #666666;
  box-shadow: 0px 3px 0px 0px #666666;
  height: 25px;
  margin-left: 4%;
  background: #808080;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  text-align: center;
  padding-top: 8px;
  color: white;
  text-transform: uppercase;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.Fileimg{
  background: #F7F7F7;
  border-radius: 3px;
  font-size: 10.5px;
  width: 100%;
  height: 28px;
  padding-top: 3px;
  padding-left: 5px;
  color: #999999;
  margin-bottom: 12px;
  overflow: hidden;
}
.paddinFormat{
  padding: 0!important;
  margin: 0;
}
.tableThead{
  font-size: 14px;
  margin-bottom: 0;
  color: white!important;
  padding-top: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.spanSubTitle{
  color: #000;
  position: absolute;
  top: 12px;
}
 .editNameEm {
  margin-left: 3%;
  border: 1px solid #909090!important;
  padding-left: 8px!important;
  width: 30px;
  border-radius: 4px!important;
  background: #808080!important;
  color: white!important;
  font-size: 13px!important;
  padding-top: 6px!important;
  border-top: #808080!important;
  margin-top: 0;
  top: 10px!important;
  padding-bottom: 6px!important;
  position: absolute;
}
.editNameEm:hover {
  background: #8E8B8B!important;
}
a.Btn1Pro:hover{
  background: #737373!important;
  border: 1px solid #737373;
}
a.Btn1Pro {
  margin-left: 1px!important;
  padding-left: 8px!important;
  width: 89%!important;
  border-radius: 4px!important;
  background: #808080!important;
  color: white!important;
  font-size: 17px!important;
  padding-top: 8px!important;
  padding-bottom: 7px!important;
  border-top: #808080!important;
  margin-right: -3px!important;
  padding-right: 12px!important;
}
a.Btn2Pro:hover{
  border: 1px solid #970b0e;
  background: #970b0e!important;
}
a.Btn2Pro{
 border: none!important;
  padding-left: 9px!important;
  width: 70%!important;
  border-radius: 4px!important;
  background: #EE3E46!important;
  color: white!important;
  font-size: 20px!important;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
    margin-left: 1px;
}
.PadForm {
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}
button.button.secondary.expand.Azul:focus {
outline: none!important;
}
button.button.secondary.expand.Azul {
  text-transform: uppercase;
  background: #177D8C;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  border-radius: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 0;
}
.BtnAzulEmp{
  width: 42%;
  text-transform: uppercase;
  background: #177D8C!important;
  border: none!important;
  color: white!important;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  box-shadow: 0px 4px 0px 0px rgba(19,104,117,1);
  border-radius: 4px;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  float: right;
}
.BtnAzulEmp:hover{
  background:rgba(19,104,117,1)!important;
}
button.button.secondary.expand.Azul:hover {
  background: rgba(19,104,117,1)!important;
}
.H5Thead{
    text-transform: uppercase;
  color: white;
  margin: 0;
}
form#suc-form {
  padding-top: 1%;
  padding-bottom: 0!important;
  border: 1.5px solid rgb(35, 187, 210)!important;
  margin-bottom: 0px!important;
}
a.small.BtnAzul.button.secondary.edit:hover{
  background:rgba(19,104,117,1) !important;

}
.BtnEdiImEMp{
  padding-left: 5%!important;
  width: 15%!important;
  background: #23BBD2!important;
  color: white!important;
  font-size: 13px!important;
  padding-top: 5px!important;
  border: #23BBD2!important;
  margin-top: 0;
  top: 87.9%;
  padding-bottom: 6px!important;
  right: -2px;
}
  .BtnEdiImEMp:hover{
  background: #11A3BA!important
  }
.BtnActualizar {
  height: 28px;
  -webkit-box-shadow: 0px 3px 0px 0px #39954A;
  -moz-box-shadow: 0px 3px 0px 0px #39954A;
  box-shadow: 0px 3px 0px 0px #39954A;
  background: #39B54A!important;
  margin-left: 4px;
  color: white!important;
  border-radius: 3px;
  border: none;
}
.BtnActualizar:hover{
background: #39954A!important;
}
.Btn1PEm{
 margin-right: -10px;
  padding-left: 8px!important;
  width: 89%!important;
  border-radius: 4px!important;
  background: #808080!important;
  color: white!important;
  font-size: 17px!important;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  border-top: #808080;
  border: 1px solid #808080!important;
}
a.Btn2TPag:hover {background: #970b0e!important;}
a.Btn2TPag {
 border: none!important;
  padding-left: 20%!important;
  width: 78%!important;
  border-radius: 4px!important;
  background: #EE3E46!important;
  color: white!important;
  font-size: 20px!important;
  padding-top: 6px!important;
  padding-bottom: 5px!important;
  margin-left: 1px;
}
.Btn2PEm{
    padding-left: 9px!important;
  width: 78%!important;
  border-radius: 4px!important;
  background: #EE3E46!important;
  color: white!important;
  font-size: 17px!important;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  border-top: #EE3E46!important;
  border: 1px solid #EE3E46!important;
}
.fotoPerfil {
  background-size: cover!important;
  transform: translate(-50%,-50%)!important;
  background-repeat: no-repeat!important;
  height: 185px!important;
  width: 100%!important;
  /* background: rgb(210, 35, 194); */
  margin-bottom: 2%!important;
  border-radius: 2px!important;
  position: absolute!important;
  left: 50%!important;
  top: 50%!important;
}
.containerFoto{
    margin-bottom: 2%;
  height: 185px;
}
.Btn1PEm:hover {
  background: #696868!important;
  border: 1px solid #696868!important;
}
.Textblack{
  padding-left:2px; 
  font-weight: 600!important;
  color: #000!important;
}
.inputFormat2 {
  color: #000!important;
  border: none!important;
  background: #F7F7F7!important;
  border-radius: 3px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
  font-weight: 900!important;
}
.Azul{
  padding-top: 8px!important;
  height: 28px;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  -moz-box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  box-shadow: 0px 3px 2px 0px rgba(19,104,117,1)!important;
  color: white!important;
  text-transform: uppercase!important;
  width: 94%!important;
  background: #177D8C!important;
  border: none!important;
  border-radius: 4px!important;
  padding-bottom: 9px!important;
  font-size: 14px!important;
}
.Azul:hover{
  background: rgba(19,104,117,1)!important;
}
.Cancelar{
 height: 28px;
  float: right;
  color: white!important;
  text-align: center;
  border-radius: 4px;
  /* margin-left: 10px!important; */
  width: 96%!important;
  background: #EE3E46!important;
  border: none;
  width: 96%!important;
  text-transform: uppercase;
  font-size: 14px!important;
  padding-top: 8px!important;
  padding-bottom: 7px!important;
  -webkit-box-shadow: 0px 3px 2px 0px #CA2746!important;
  -moz-box-shadow: 0px 3px 2px 0px #CA2746!important;
  box-shadow: 0px 3px 2px 0px #CA2746!important;
}
.Cancelar:hover{
  background: rgba(202,39,70,1)!important;
}
a.large.button.alert.thin-title.cancel:hover {
  background: rgba(202,39,70,1)!important; 
}
a.large.button.alert.thin-title.cancel {
  height: 41px;
  float: right;
  color: white!important;
  text-align: center;
  border-radius: 4px;
  margin-right: 4%;
  width: 96%!important;
  background: #EE3E46!important;
  border: none;
  width: 89%!important;
  text-transform: uppercase;
  font-size: 19px!important;
  padding-top: 11px!important;
  padding-bottom: 7px!important;
  -webkit-box-shadow: 0px 3px 2px 0px #CA2746!important;
  -moz-box-shadow: 0px 3px 2px 0px #CA2746!important;
  box-shadow: 0px 3px 2px 0px }
input.RadioExp {
  margin-bottom: -1px!important;
  margin-top: 13px!important;
  -webkit-appearance: none;
  outline: none;
  width: 15px;
  height: 15px;
  position: relative;
  display: inline-block;
  margin: 3px;
  border-radius: 2px;
  background-color: #808080;
  -webkit-background-clip: padding-box;
  border: 0;
}
input.RadioExp:checked {
  background: white;
}
input.RadioExp:checked:before {
  content: "";
  position: absolute;
  left: 2px;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 3px solid transparent;
  border-top: 6px solid #4BCD47;
  border-left: 0px solid transparent;
  border-right: 12px solid transparent;
}
input.RadioExp:checked:after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 6px solid transparent;
  border-top: 4px solid white;
  border-left: 0px solid transparent;
  border-right: 11px solid transparent;
}
input.RadioExp:hover {
  cursor: pointer;
}
.fileContainer2 {
  font-size: 9.5px;
  -webkit-box-shadow: 0px 3px 0px 0px #666666;
  -moz-box-shadow: 0px 3px 0px 0px #666666;
  box-shadow: 0px 3px 0px 0px #666666;
  height: 25px;
  margin-left: 4%;
  background: #808080;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  text-align: center;
  padding-top: 4px;
  color: white;
  text-transform: uppercase;
}
.fileContainer2 {
    overflow: hidden;
    position: relative;
}

.fileContainer2 [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
#app-footer2 {
  height: 42px;
  display: block;
}
#clock{
  padding-left: 34px;
  font-weight: 400;
  text-align: center;
  color: #CECECE;
  font-size: 54px;
}
a.button.success.alignright.btn-block-icon-label.create {
  float: right;
  color: white;
  text-align: center;
  width: 80%!important;
  background: #39B54A!important;
  border: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 2px 0px #39954A;
  -moz-box-shadow: 0px 3px 2px 0px #39954A;
  box-shadow: 0px 3px 2px 0px #39954A;
  border-radius: 3px;
  right: 0;
}
a.button.success.alignright.btn-block-icon-label.create:hover {
  background: #39954A!important;
}
.btn-handler {
  margin-top: 8%;
}
.FielReport{
  margin-left: 6px;
  margin-right: 0px!important;
  height: 100%!important;
  padding: 0;
  width: 96%;
}
.VerAll{
font-weight: 700!important;
  border: 1px solid #23BBD2!important;
  background: #23BBD2!important;
}
.VerOthers{
    font-weight: 700!important;
  color: #000;
  border-left: 1px solid #23BBD2!important;
  border-right: 1px solid #23BBD2!important;
  border-bottom: 1px solid #23BBD2!important;
}
.textGracias{
    font-size: 19px!important;
  text-align: center!important;
  color: #000!important;
  font-weight: bold!important;
}
textarea#comentarios {
  background: #000;
  padding-left: 5px;
  color: white;
  border-radius: 3px;
  padding-right: 5px;
  font-size: 14px;
}
.BorderFormat{
    border: 2px solid #23BBD2;
}
.FormFormat2 {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
input.InputPhone {
  color: white;
  background: #000;
  margin-bottom: 10px;
  padding-left: 8px;
  border-radius: 3px;
  height: 33px;
  padding-right: 8px;
}
input.InputPhone:focus {
  background: #000;
  color: white!important;
}
button.button.large.postfix {
  background: rgb(35, 187, 210)!important;
  margin-bottom: 0px!important;
  font-size: 17px!important;
  border: none!important;
  height: 31px!important;
  width: 31px!important;
  right: 2px!important;
  margin-top: 0!important;
}
button.button.large.postfix:hover{
  background:rgb(26, 158, 178)!important;
}
.CirX3{
  position: absolute!important;
  right: 29%!important;
  top: 52.5%!important;
  color: white!important;
  border: 1px solid white;
  padding: 0 3px 0 3px;
  border-radius: 11px;
  font-size: 13px!important;

}
.divlog2 {
  top: 40%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
}
.BtnSearch2 {
    color: white!important;
  background: rgb(35, 187, 210)!important;
  margin-bottom: 0px!important;
  font-size: 16px!important;
  border: none!important;
  height: 31px!important;
  width: 33px!important;
  right: 2px!important;
  margin-top: 0!important;
}
input.InputPhone2:focus {
  background: #000;
}
input.InputPhone2 {
  color: white;
  background: #000;
  width: 95%;
  margin-bottom: 10px;
  padding-left: 8px;
  border-radius: 3px;
  height: 31px;
  padding-right: 8px;
}

input.InputPhone3::-webkit-input-placeholder { color: #808080; } /* WebKit */
input.InputPhone3:-moz-placeholder { color: #808080; } /* Firefox 18- */
input.InputPhone3::-moz-placeholder { color: #808080; } /* Firefox 19+ */
input.InputPhone3:-ms-input-placeholder { color: #808080; } /* IE 10+ */
input.InputPhone3 {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 8px;
  border-radius: 3px;
  height: 31px;
  padding-right: 8px;
}
input.InputPhone2:focus {
  color: white!important
  }
  .BtnSearch2:hover {
  background: rgb(33, 163, 182)!important;
}
a.small.button.secondary.alignright.forward {
  font-size: 16px!important;
  -webkit-box-shadow: 0px 3px 2px #23A4BF!important;
  -moz-box-shadow: 0px 3px 2px 0px #23A4BF!important;
  box-shadow: 0px 3px 2px 0px #23A4BF!important;
  color: white!important;
  background: #23BBD1!important;
  border: none!important;
  height: 30px!important;
  border-radius: 3px!important;
  padding-top: 8px!important;
}
a.small.button.secondary.alignright.forward:hover {
background: #23A4BF!important;
}
.Azul2 {
  text-transform: uppercase;
  font-size: 14px!important;
  -webkit-box-shadow: 0px 3px 2px #23A4BF!important;
  -moz-box-shadow: 0px 3px 2px 0px #23A4BF!important;
  box-shadow: 0px 3px 2px 0px #23A4BF!important;
  color: white!important;
  background: #23BBD1!important;
  border: none!important;
  height: 30px!important;
  border-radius: 3px!important;
  padding-top: 8px!important;
}
.Azul2:hover {
background: #23A4BF!important;
}
.InputPhone::-webkit-input-placeholder { color: #737373;  font-weight: 700; }
.InputPhone:-moz-placeholder { color: #737373;  font-weight: 700;}
.InputPhone::-moz-placeholder { color: #737373;  font-weight: 700; }
.InputPhone:-ms-input-placeholder { color: #737373;  font-weight: 700; }
.order-products-table.BorderFormat {
  margin-bottom: 20px;
}

textarea#comentarios::-webkit-input-placeholder {color: rgba(175, 175, 175, 1)!important;
  font-weight: 500!important; 
}
textarea#comentarios:-moz-placeholder {   color: rgba(175, 175, 175, 1)!important;
  font-weight: 500!important;}
textarea#comentarios::-moz-placeholder {   color: rgba(175, 175, 175, 1)!important;
  font-weight: 500!important; }
textarea#comentarios:-ms-input-placeholder {  color: rgba(175, 175, 175, 1)!important;
  font-weight: 500!important;}

.TheadPedido{
    margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}
.Theadwhite{
color: white;
text-transform: uppercase;
}
.InputCant{
  color: white!important;
  background: #000!important;
  transform: translate(37%);
  border-radius: 3px;
  width: 50px;
  text-align: center;
}
.InputCant:focus{
  color:white;
}
.BtnDelPed:hover{
  background: #CA232A!important;
}
.BtnDelPed{
  background: #EE3E46!important;
  text-align: center;
  font-size: 18px!important;
  height: 30px;
  width: 30px;
  padding-left: 7px!important;
  padding-top: 5px!important;
  border-radius: 3px;
}
 .InputPedidos{padding: 0 0 0 5px!important;
  color: white!important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #000!important;}
.InputPedidos:focus {
  color: white!important;
}
.SelectFormat2:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #999;
  -moz-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  border-color: #999;
}
input.button.Aceptar:focus {
  outline-color: transparent!important;
}
  .PedText{
  border-bottom-left-radius: 3px;
  border-top-left-radius: 4px;}
  .switch2{
      color: white!important;
  font-size: 15px!important;
  background: #39B54A!important;
  padding-right: 14px!important;
  height: 37px!important;
  padding-top: 2px!important;
  }
   .switch1{   
  color: white;
  font-size: 15px!important;
  background: #23BBD2!important;
  padding-left: 11px!important;
  height: 37px!important;
  padding-top: 2px!important;
}
.spanBusq{
left: 3%;
  color: #808080;
  position: absolute;
  top: 21.8%!important;
}
a.small.button.secondary.alignright.edit-client {
  padding-top: 6px;
  font-size: 15px;
  border-radius: 4px;
  padding-left: 7px;
  height: 30px;
  width: 30px;
}
.pDetailUSer{
    font-size: 13px;
}
 .InputPEd {
  background: rgb(230, 230, 230)!important;
  color: #000!important;
  width: 97%!important;
  border-radius: 3px;
  border: 1px solid #53C6D7!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
  .InputPEd:focus{
background: #AEAEAE;
}
input.nameCAT::-webkit-input-placeholder {
  color: #AEAEAE!important;
}
.mi-input::-webkit-input-placeholder { color:#AEAEAE; }
.mi-input:-moz-placeholder { color:#AEAEAE;}
.mi-input::-moz-placeholder { color:#AEAEAE; }
.mi-input:-ms-input-placeholder { color:#AEAEAE;}
  .btn1Prod{
  text-align: center;
  margin-right: 0!important;
  padding-left: 13%!important;
  width: 85%!important;
  border-radius: 4px!important;
  background: #808080!important;
  color: white!important;
  font-size: 17px!important;
  padding-top: 3px!important;
  padding-bottom: 3px!important;
  border-top: #808080!important;
  padding-right: 12%!important;
  margin-top: 27%;
}
  .btn1Prod:hover{
    background: #716F6F!important;
  }
  .btn2Prod{  border: none!important;
  text-align: center;
  margin-right: 0!important;
  padding-left: 23%!important;
  width: 80%!important;
  border-radius: 4px!important;
  background: #EE3E46!important;
  color: white!important;
  font-size: 20px!important;
  padding-top: 2px!important;
  padding-bottom: 1px!important;
  border-top: #EE3E46!important;
  padding-right: -10%!important;
  margin-top: 25%;
}
.BordePedRight{
  border-left: 1px solid #23BBD2;
  position: relative!important;
}
.btn2Prod:hover{
  background: 
}
.text-gris{
font-weight: 700;
color:#B0B0B0;
}
.text-gren2{
font-weight: 700;
color:#22B573;
}

.TextBlackBold p {
  color: #000!important;
  font-weight: bold!important;
}
.textPedi{
  padding-left: 16px;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
}
input#prodCant:focus {
  color: white!important;
}
.spanEnt{
 position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  height: 15px;
  width: 13px;
  display: inline-block;
  background: #B0B0B0;
  border-radius: 3px;
}
.spanop1{
    margin-top: 2.4%;
   position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  height: 15px;
  width: 13px;
  display: inline-block;
  background: #EE3E46;
  border-radius: 3px;
}
.spanop2{
    margin-top: 3.4%;
  position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  height: 15px;
  width: 13px;
  display: inline-block;
  background: white;
  border-radius: 3px;
}
.text-red{
color: #EE3E46;
}
.spanop2:after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 6px solid transparent;
  border-top: 4px solid white;
  border-left: 0px solid transparent;
  border-right: 11px solid transparent;}
.spanop2:before {
    content: "";
  position: absolute;
  left: 2px;
  bottom: 0;
  width: 0!important;
  height: 0;
  border-bottom: 3px solid transparent;
  border-top: 5px solid #4BCD47;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
}
.spanEnt2 {
  position: absolute;
  font-size: 15px;
  text-transform: uppercase;
  height: 15px;
  width: 13px;
  display: inline-block;
  background: white;
  border-radius: 3px;
}
.spanEnt2:after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 6px solid transparent;
  border-top: 4px solid white;
  border-left: 0px solid transparent;
  border-right: 11px solid transparent;}
.spanEnt2:before {
    content: "";
  position: absolute;
  left: 2px;
  bottom: 0;
  width: 0!important;
  height: 0;
  border-bottom: 3px solid transparent;
  border-top: 5px solid #4BCD47;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
}
.textday p{
  color:#000!important;
}
#arrowup{
    background: transparent;
  z-index: 1000000054;
  position: absolute;
  top: 95%;
  left: 57%;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
  border-top: 15px solid #111A1B;
}