<div class="row">
<div class="large-12 columns" style="height: 48px;border-bottom: 6px solid #23BBD2;background: #000;">
 <div>
 <img class=" Imglogo MsgLogo" src="app/images/logo_kipper.png" style="padding-top: 8px;height: 50px;">
</div>
  </div>
    <div class="large-2 columns">&nbsp;</div>
    <div class="large-8 columns">
        <h1 style="text-align:center;margin-bottom: 0;">Alta de Categorías</h1>
        <p style="text-align:center;color: #000;"><b>Ingrese las categorías que servirán para clasificar sus productos.</b></p>
        <fieldset class="paddinFormat" style="border:none">
              <h6 class="catH6" style="margin-bottom: 0;">CATEGORIAS</h6>
            <form id="categoryForm" class="FormFormat" style="border: solid 2px #23BBD2;  padding-top: 1%;">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <input type="text" id="name" name="name" placeholder="Nombre de Categoría" autofocus class="inputFormat">
                    </div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <textarea id="description" name="description" placeholder="Descripción" rows="3" class="SelectFormat2"></textarea>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="large-12 colums">
                        <button type="submit" class="button success Azul2" style="width:100% ;margin-bottom: 7px;
  font-size: 18px!important;
  height: 40px!important;
  width: 100%;
  text-transform: uppercase;"><i class=""></i>&nbsp;&nbsp;Agregar Categoría</button>
                    </div>
                </div>
            </form>

            <div id="categories-list" style="  border: solid 2px #23BBD2;">
                <table width="100%" cellspacing=0 cellpadding=0 class="left-align no-margin" style="  width: 100.2%;background: #23BBD2;">
                    <thead>
                    <tr>
                        <td class="tableThead" style="padding-top: 5px;">Nombre</td>
                        <td class="tableThead" style="padding-top: 5px;" width="150">Acciones</td></tr>
                    </thead>
                </table>
                <div style="max-height:153px;overflow-x: scroll;">
                    <table width="100%" cellspacing=0 cellpadding=0 style="margin-bottom:0!important">
                        <tbody class="max-height-5 ACat"></tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <div class="wizard-nav" style="  margin-top: 1%;"></div>
    </div>
    <div class="large-2 columns">&nbsp;</div>
</div>