<div class="row">
<div class="large-12 columns" style="height: 48px;border-bottom: 6px solid #23BBD2;background: #000;">
 <div>
 <img class=" Imglogo MsgLogo" src="app/images/logo_kipper.png" style="padding-top: 8px;height: 50px;">
</div>
  </div>
    <div class="large-12 columns end">
        <h1 style="text-align:center;">Alta de Productos</h1>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
         <fieldset class="paddinFormat" style="position: relative;border:none">
              <h6 class="catH6" style="margin-bottom: 0;">ALTA DE PRODUCTOS</h6>
              <form id="productForm" class="FormFormat" style="  border: 2px solid rgb(85, 174, 217);
  padding-top: 2%;">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <select id="categoryID" name="categoryID" class="medium SelectFormat2">
                            {{#each categories}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><input type="text" id="code" name="code" placeholder="Código del Producto" class="inputFormat"/></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><input type="text" id="name" name="name" placeholder="Nombre del Producto" class="inputFormat"/></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><textarea id="description" name="description" rows="3" placeholder="Breve descripción del producto" class="medium SelectFormat2"></textarea></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><input type="text" id="price" name="price" class="inputFormat" placeholder="precio"/></div>
                </div>
                <div class="row collapse" style="display:none">
                    <div class="large-12 columns"><input type="text" id="creationDate" disabled value="{{today}}" class="inputFormat"/></div>
                </div>
                <div class="row collapse">
                                       <div class="large-7 columns">
                                <p class="img Fileimg">Imagenes</p>
                                </div>
                                    <div class="large-5 columns">
                                          <label class="fileContainer">
                                                   seleccionar archivo 
<input type="file" id="image" name="image"/>
                                    </label>
                                    </div>

                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><input type="submit" value="Agregar Producto" class="button success expand Aceptar"style="margin-bottom: 3px;"/></div>
                </div>
            </form>
        </fieldset>
        <div class="wizard-nav" style="  margin-top: 1%;">
            <a href="#" class="small button secondary reverse alignleft"><i class="icon-chevron-left" style="  font-size: 12px;"></i>CATEGORIAS</a>
        </div>
    </div>
    <div class="large-8 columns end">
        <fieldset class="paddinFormat">
            <table width="100%" cellpadding=0 cellspacing=0 class="no-margin" style="  background: rgb(35, 187, 210);">
                <thead>
                <tr>
                    <td width="100" class="tableThead" style="padding-top: 5px;">Imagen</td>
                    <td width="100" class="tableThead" style="padding-top: 5px;">Código</td>
                    <td class="tableThead" style="padding-top: 5px;">Info. Producto</td>
                    <td width="100" class="tableThead" style="padding-top: 5px;">Precio</td>
                    <td width="150" class="tableThead" style="padding-top: 5px;">Acciones</td>
                </tr>
                </thead>
            </table>
            <div id="products-list" style="max-height:205px;">
                <table width="100%" cellpadding=0 cellspacing=0 style="margin-bottom:0!important">
                <tbody class="ACat"></tbody>
                </table>
            </div>
        </fieldset>
        <div class="wizard-nav-2" style="margin-top: 1%;"></div>
    </div>
</div>