@font-face {
	font-family: 'Kiper';
	src:url('fonts/Kiper.eot');
	src:url('fonts/Kiper.eot?#iefix') format('embedded-opentype'),
		url('fonts/Kiper.ttf') format('truetype'),
		url('fonts/Kiper.woff') format('woff'),
		url('fonts/Kiper.svg#Kiper') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Kiper';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wallet:before {
	content: "\e600";
}
.icon-dollar:before {
	content: "\e601";
}
.icon-bullhorn:before {
	content: "\e604";
}
.icon-reorder:before {
	content: "\e602";
}
.icon-group:before {
	content: "\e00f";
}
.icon-mail:before {
	content: "\e011";
}
.icon-directions:before {
	content: "\e012";
}
.icon-user-add:before {
	content: "\e013";
}
.icon-pencil:before {
	content: "\e016";
}
.icon-location:before {
	content: "\e017";
}
.icon-bell:before {
	content: "\e018";
}
.icon-stopwatch:before {
	content: "\e019";
}
.icon-checkmark:before {
	content: "\e023";
}
.icon-camera:before {
	content: "\e007";
}
.icon-image:before {
	content: "\e010";
}
.icon-file:before {
	content: "\e024";
}
.icon-minus:before {
	content: "\e02e";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-search:before {
	content: "\e025";
}
.icon-menu:before {
	content: "\e026";
}
.icon-profile:before {
	content: "\e027";
}
.icon-user:before {
	content: "\e028";
}
.icon-office:before {
	content: "\e029";
}
.icon-notebook:before {
	content: "\e02a";
}
.icon-truck:before {
	content: "\e02b";
}
.icon-cross:before {
	content: "\e02c";
}
.icon-plus:before {
	content: "\e02d";
}
.icon-uniF000:before {
	content: "\f000";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-exit:before {
	content: "\e003";
}
.icon-minus2:before {
	content: "\e004";
}
.icon-plus2:before {
	content: "\e005";
}
.icon-folder:before {
	content: "\e006";
}
.icon-phone:before {
	content: "\e00c";
}
.icon-person:before {
	content: "\e00d";
}
.icon-menu2:before {
	content: "\e00e";
}
.icon-minus3:before {
	content: "\e000";
}
.icon-plus3:before {
	content: "\e001";
}
.icon-close:before {
	content: "\e002";
}
.icon-target:before {
	content: "\e014";
}
.icon-disk:before {
	content: "\e015";
}
.icon-trash:before {
	content: "\f014";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-print:before {
	content: "\f02f";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-group2:before {
	content: "\f0c0";
}
.icon-spinner:before {
	content: "\e01a";
}
.icon-spinner2:before {
	content: "\e01b";
}
.icon-spinner3:before {
	content: "\e01c";
}
.icon-spinner4:before {
	content: "\e01d";
}
.icon-spinner5:before {
	content: "\e01e";
}
.icon-spinner6:before {
	content: "\e01f";
}
.icon-cog:before {
	content: "\e020";
}
.icon-key:before {
	content: "\e021";
}
.icon-enter:before {
	content: "\e022";
}
.icon-screen:before {
	content: "\e008";
}
