<div class="controls">
    <form action="" id="filter-form" class="custom paddinFormat" style="  width: 97%;">
        <div class="row">
            <div class="large-3 columns">
                <div class="padding-h1">
                    <label for="month" class="text-white TextBlackBold">Mes</label>
                    <select id="month" name="month" class="SelectFormat2"></select>
                </div>
            </div>
            <div class="large-3 columns">
                <div class="padding-h1">
                    <label for="fromDate_dayReport" class="text-white TextBlackBold">Desde</label>
                    <input type="date" id="fromDate_dayReport" name="fromDate" class="inputFormat "/>
                </div>
            </div>
            <div class="large-3 columns">
                <div class="padding-h1">
                    <label for="toDate_dayReport" class="text-white TextBlackBold">Hasta</label>
                    <input type="date" id="toDate_dayReport" name="toDate" class="inputFormat "/>
                </div>
            </div>
            <div class="large-3 columns">
                <div class="">
                    <label>&nbsp;</label>
                    <button type="submit" class="button small secondary expand Azul">Filtrar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="canvas" id="day-canvas"></div>