<div class="controls padding-h1">
    <form action="" id="filter-form" class="custom paddinFormat" style=" width: 97%;">
        <div class="row">
            <div class="large-3 columns">
                <div class="padding-h1">
                    <label for="month" class="text-white">Mes</label>
                    <select id="month" name="month" class="SelectFormat2"></select>
                </div>
            </div>
            <div class="large-3 columns">
                <div class="padding-h1">
                    <label for="fromDate_salesQuantity" class="text-white">Desde</label>
                    <input type="date" id="fromDate_salesQuantity" name="fromDate" class="inputFormat "/>
                </div>
            </div>
            <div class="large-3 columns">
                <div class="padding-h1">
                    <label for="toDate_salesQuantity" class="text-white">Hasta</label>
                    <input type="date" id="toDate_salesQuantity" name="toDate" class="inputFormat "/>
                </div>
            </div>
            <div class="large-3 columns">
                <div class="">
                    <label>&nbsp;</label>
                    <button type="submit" class="button secondary small expand Azul">Filtrar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="canvas" id="num-sales-canvas"></div>