<td width="200" style="color: #000;font-weight:700;border-left: 1px solid #23BBD2;">{{nombres}} {{apellidos}}</td>
<td style="color: #000;font-weight:700;">{{telefono}}</td>
<td width="130" style="border-right: 1px solid #23BBD2;">
    <ul class="button-group even-3" >
        <li><a href="detalles_cliente" class="small button secondary preview btn1clien"><i class="icon-search"></i></a></li>
        <li><a href="#" class="small button secondary edit btn1clien"><i class="icon-pencil"></i></a></li>
        <li><a href="#" class="small button alert delete btn2clien"><i class="icon-trash"></i></a></li>
    </ul>
</td>