<div class="row">
    <div class="large-5 columns auto-height">
        <fieldset class="no-margin paddinFormat">
            <h6 class="catH6" style="  width: 99.8%;margin-bottom: 0;">DATOS DEL CLIENTE</h6>
            <div class="FormFormat">
            <h3 style="height:17px">{{telefono}}</h3>
            <h3 class="thin-title" style="height: 22px;">{{nombres}} {{apellidos}}</h3>
            <p class="Text-Black">{{direccion}}</p>
            <p class="Text-Black">
                {{#if sexo}}
                    {{#ifCond sexo "===" "m"}} Hombre {{else}} Mujer {{/ifCond}}
                {{/if}}
                {{#if edad}}, {{edad}} años {{/if}}
            </p>
            {{#if twitter}}
            <p class="Text-Black"><em>Twitter:</em> <a href="http://twitter.com/{{twitter}}" class="Text-Black" target="_blank">{{twitter}}</a></p>
            {{/if}}
            {{#if  correo}}
            <p class="Text-Black"><em>Correo:</em> <a href="mailto:{{coreo}}" class="Text-Black">{{correo}}</a></p>
            {{/if}}
        </div>
        </fieldset>
        <div class="" style="margin-top: 5%;">
            <a href="clientes" class="button secondary medium expand Azul back"><i class="" style=" width: 100%!important;"></i> Regresar</a>
        </div>
    </div>
    <div class="large-7 columns">
        <div class="auto-height-section">
            <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin">
                <thead class="tableThead"><tr><td><h5>Historial de Pedidos</h5></td></tr></thead>
            </table>
            <div class="scroll-section" style="max-height: 375px">
                <table width="100%" cellpadding=0 cellspacing=0 id="pedidos-list" class="border-table no-margin">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>