{{#if id}}
 <h6 class="catH6" style="position: absolute;width: 96%;margin-bottom:0;left: 0!important;">EDITAR CLIENTE</h6>
<input type="hidden" name="id" value="{{id}}"/>
{{/if}}

<div class="row collapse">
    <div class="large-12 columns">
        <input type="number" autofocus id="telefono" name="telefono" placeholder="Teléfono" value="{{telefono}}" class="inputFormat"/>
    </div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><input type="text" id="nombres" name="nombres" placeholder="Nombres" value="{{nombres}}" class="inputFormat"/></div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" value="{{apellidos}}" class="inputFormat"/></div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><input type="text" id="direccion" name="direccion" placeholder="Dirección" value="{{direccion}}" class="inputFormat"/></div>
</div>
<div class="row collapse">
    <div class="large-12 columns">
        <select name="seco" id="sexo" class="SelectFormat2">
            <option>Sexo</option>
            <option value="m" {{#ifCond sexo "===" "m"}}selected{{/ifCond}}>Masculino</option>
            <option value="f" {{#ifCond sexo "===" "f"}}selected{{/ifCond}}>Femenino</option>
        </select>
    </div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><input type="date" id="fechaNacimiento{{#if ordering}}Ordering{{/if}}" name="fechaNacimiento" value="{{fechaNacimiento}}" class="inputFormat"/></div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><input type="text" id="twitter" name="twitter" placeholder="Cuenta de twitter" value="{{twitter}}" class="inputFormat"/></div>
</div>
<div class="row collapse">
    <div class="large-12 columns">
        <input type="email" id="correo" name="correo" placeholder="Correo electrónico" value="{{correo}}" class="inputFormat"/>
    </div>
</div>
<div class="row collapse">
    <div class="large-12 columns">
        <textarea id="comentarios" name="comentarios" placeholder="Comentarios" class="inputFormat">{{comentarios}}</textarea>
    </div>
</div>
<div class="row collapse">
{{#if id}}
<ul class="button-group even-2 no-margin">
    <li><button type="submit" class="button no-margin thin-title Aceptar2" style="height: 29px;padding-top: 7px;"><i class=""></i> Actualizar</button></li>
    <li><button type="button" class="button secondary no-margin thin-title cancel Cancelar" style="font-size:17px!important;padding-top: 5px!important;"><i class=""></i> Cancelar</button></li>
</ul>
{{else}}
<button type="submit" class="button secondary expand no-margin Azul2"><i class=""></i> Agregar Cliente</button>
{{/if}}
</div>


