<a href="" class="small button secondary alignright edit-client" data-id="{{id}}"><i class="icon-pencil"></i></a>

<h3 class="TextWhite">{{telefono}}</h3>
<h3 class="thin-title TextWhite" style="margin:0;">{{nombres}} {{apellidos}}</h3>
<p class="pDetailUSer">{{direccion}}</p>
<p class="pDetailUSer">
    {{#if sexo}}
    {{#ifCond sexo "===" "m"}} Hombre {{else}} Mujer {{/ifCond}}
    {{/if}}
    {{#if edad}}, {{edad}} años {{/if}}
</p>
{{#if twitter}}
<p class="pDetailUSer"><em>Twitter:</em> <a href="http://twitter.com/{{twitter}}" target="_blank" style="color: #FFFFFF;">{{twitter}}</a></p>
{{/if}}
{{#if  correo}}
<p class="pDetailUSer"><em>Correo:</em> <a href="mailto:{{coreo}}" style="color: #FFFFFF;">{{correo}}</a></p>
{{/if}}

<!-- ver su ultimo pedido -->
<div class="row collapse" style=" margin-top: 9%;">
    <p><em>Su último pedido fue :</em></p>

    <ul id="lastOrder" style="list-style:none; height: 100%; overflow-y: scroll;"> Cargando ... </ul>


</div>