<div class="large-7 columns">
                <h2 class="big-light-text" id="clock"></h2>
</div>
<div class="large-5 columns paddinFormat">
                    <div class="btn-handler"></div>
</div>


