<div class="row collapse">
        <div class="large-12 columns">
            <label for="name" class="Textblack">Tiempo De Inactividad Del Cliente</label>
            <select name="time" id="time" class="SelectFormat2">
            	<option value="7 Dias"  {{#ifCond time "==" ""}}selected{{/ifCond}}>Selecciona Un Periodo</option>
	            <option value="7 Dias"  {{#ifCond time "===" "7 Dias"}}selected{{/ifCond}}>7 Dias</option>
	            <option value="15 Dias" {{#ifCond time "===" "15 Dias"}}selected{{/ifCond}}>15 Dias</option>
	            <option value="30 Dias" {{#ifCond time "===" "30 Dias"}}selected{{/ifCond}}>30 Dias</option>
	            <option value="60 Dias" {{#ifCond time "===" "60 Dias"}}selected{{/ifCond}}>60 Dias</option>
	            <option value="90 Dias" {{#ifCond time "===" "90 Dias"}}selected{{/ifCond}}>90 Dias</option>
            </select>
        </div>
</div>
<div class="row collapse">
	    {{#ifCond firstConfig "===" ""}}
        <div class="large-6 columns">
            <button type="submit" class="Azul">Guardar</button>
        </div>
	    {{else}}
	     <div class="large-6 columns">
            <button type="submit" class="Azul">Actualizar</button>
        </div>
	    {{/ifCond}}
	    <div class="large-6 columns">
            <button type="click" id="cancelarNoti" class="button secondary expand no-margin Cancelar">Cancelar</button>
        </div>
</div>