<a href="#" class="{{#if size}}{{size}}{{else}}small{{/if}} button {{#if style}}{{style}}{{else}}secondary{{/if}} alignright forward" style="text-transform:uppercase;">{{text}} <i class="icon-chevron-right" style="
    font-size: 11px;
"></i></a>