
<td width="40">
<span data-item="{{id}}" class="changestatus {{#ifCond leido "==" "false" }}dontview{{else}}visto{{/ifCond}}">
<img style="  padding-top: 0px!important;padding: 4px 4px;height: 23px;" src="app/images/view.png">
</span>
</td>
<td width="140"  style="color:#000;font-weight:700;border-left: none!important;border-right: none!important;">{{nombre}}</td>
<td width="110" style="padding: 0;color: #000;font-weight:700;border-left: none!important;border-right: none!important;">{{dias}} Dia(s)</td>
<td width="100" style="padding:0;color:#000;font-weight:700;border-left: none!important;border-right: none!important;">{{telefono}}</td>
<td width="100" style="padding: 0;color: #000;font-weight:700;border-left:none!important;border-right: none!important;">
<ul class="button-group even-2" style="text-align: center;">
{{#ifCond twitter "!==" ""}}
<li>
<a class="small button secondary edit btnNoti twitterLink" title="tweet to @{{{twitter}}}" data-item="{{{twitter}}}" style="padding-left:9px!important;padding-top: 6px!important;"><img style="position:relative;max-width:24px;" src="app/images/twitter.png"></img></a>
</li>
{{/ifCond}}
{{#ifCond correo "!==" ""}}   
  <li>
    <a data-item="{{id}}" title="send to {{correo}}" class="small button secondary edit btnNoti sendEmail"><img style="position:relative;max-width:17px;" src="app/images/email.png"></img></i>
</a>
</li>
{{/ifCond}}  
</ul>
</td>
