<div class="container">
    <header id="app-header">
        <div>
                    <div class="large-3 columns">
                       <div class="headerLogo" style="background-image: url(app/images/logo_kipper.png)">
                       </div>
                    </div>
                    <div class="large-9 columns" style="height: 37px;">
                        <div id="app-footer">
                        <div class="cell clearfix"></div>
                        </div>
                    </div>
<!--                     <div class="large-3 columns" style="padding-right:1rem">
                        <a href="settings" class="alignright btn-block-icon-label text-center settings"><i class="icon-cog fontsize-3"></i></a>
                    </div> -->
        </div>
     </header>

<div style="padding:0;" class="large-12 columns">
        <!-- menu depegable -->
  <nav class="top-bar navPrincipal menu-list" data-topbar="" role="navigation">
  <section class="top-bar-section menuDesp">
    <ul class="right">
      <li style="background: #000!important;" class="has-dropdown hidemenu">
        <span class="arrow"></span>
        <ul class="dropdown ulContnt MENU" style="right: -19px;top:-8px;">
          <li class="liContn"><a href="profile" class="profile  aLink" data-title="<i class='icon-user fontsize-3 inline'></i> Mi Cuenta"><i class="icon-user" style="padding-right: 10px;font-size: 23px;"></i> Mi Cuenta</a></li>
          <li class="liContn">
            <a href="exit" style="padding:4px 15px!important;" class="exit aLink" data-title="<i class='icon-exit fontsize-3 inline'></i> Cerrar Sesión"><i class="icon-exit" style="padding-right:10px;font-size: 23px;padding-left: 16px;"></i> Cerrar Sesión</a>
        </li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
<div style="padding:0;" class="large-2 columns">
     <div class="settings-layer">
     <div class="MENULEFT">
    <ul class="no-list menu-list MENU">
        {{#ifCond usuario.perfilName "===" "admin"}}
        <li style="padding: 0 9px 0 3px;"><a href="categorias" class="categorias" data-title="<i class='flaticon-pricetag5 fontsize-3 inline'></i> Categorias</a>"><i class="flaticon-pricetag5"></i> Categorias</a>
        </li style="padding: 0 9px 0 3px;">{{/ifCond}}
        {{#ifCond usuario.perfilName "===" "admin"}}
        <li><a href="productos" class="productos" data-title="<i class='flaticon-burger21 fontsize-3 inline'></i> Productos"><i class="flaticon-burger21"></i> Productos</a></li>{{/ifCond}}
        {{#ifCond usuario.perfilName "===" "admin"}}
        <li style="padding: 0 9px 0 3px;"><a href="metodosPago" class="metodosPago" data-title="<i class='flaticon-credit-card5 fontsize-3 inline'></i> Tipos de Pago"><i class="flaticon-credit-card5"></i> Tipos de Pago</a></li>{{/ifCond}}
        {{#ifCond usuario.perfilName "===" "admin"}}
        <li style="padding: 0 9px 0 3px;"><a href="usuarios" class="usuarios" data-title="<i class='flaticon-male61 fontsize-3 inline'></i> Usuarios"><i class="flaticon-male61"></i> Usuarios</a></li>{{/ifCond}}
        <!-- <li><a href="profile" class="profile" data-title="<i class='icon-user fontsize-3 inline'></i> Mi Cuenta"><i class="icon-user"></i> Mi Cuenta</a></li> -->
        {{#ifCond usuario.perfilName "===" "admin"}}
        <li style="padding: 0 9px 0 3px;"><a style="padding-right: 0px!important;" href="profileEmpresa" class="profileEmpresa" data-title="<i class='flaticon-office24 fontsize-3 inline'></i> Empresa"><i class="flaticon-office24"></i> Perfil de Empresa</a></li>{{/ifCond}}
        {{#ifCond usuario.perfilName "===" "admin"}}
        <li style="padding: 0 9px 0 3px;"><a href="export" class="export" data-title="<i class='flaticon-folder47 fontsize-3 inline'></i> Respaldos"><i class="flaticon-folder47"></i> Respaldos</a></li>{{/ifCond}}
        <li style="padding: 0 9px 0 3px;"><a href="printers" class="printers" data-title="<i class='flaticon-printer22 fontsize-3 inline'></i> Impresoras"><i class="flaticon-printer22"></i> Impresoras</a></li>
        <!-- <li><a href="exit" class="exit" data-title="<i class='icon-exit fontsize-3 inline'></i> Cerrar Sesión"><i class="icon-exit"></i> Cerrar Sesión</a></li> -->
    </ul>
     {{#ifCond imageSrc '!==' ''}}
     <div class="logo" data-image="{{imageSrc}}" style="background-image: url({{#direction imageSrc}}{{/direction}})" id="main-logo">
    {{else}}
    <div class="logo" style="background-image: url(app/images/notingpicture2.jpg)" id="main-logo">
    {{/ifCond}}
     </div>
</div> 
</div>
        </div>
     <div class="large-10 columns menu2">
            <div class="large-12 columns" style="padding:0;  height: 62px;">
             <ul  id="software-nav" class="large-block-grid-6 Blockmenu2 MENU">
                 <li class="LiMenu2 SelectedMenu2">
                    <a href="dashboard" class="Dash pedidos textazul" data-title="<i class='flaticon-house204 fontsize-3 inline'></i> Pedidos"><i class="flaticon-house204 textazul"></i><p class="letraMenu2">Inicio</p></a>
                </li>
                <li class="LiMenu2">
                    <a href="pedidos" class="pedidos pedidos textazul" data-title="<i class='flaticon-telephone51 fontsize-3 inline'></i> Pedidos"><i class="flaticon-telephone51"></i><p class="letraMenu2">Pedidos</p></a>
                </li>
                <li class="LiMenu2">
                    <a href="clientes" class="clientes pedidos textazul" data-title="<i class='flaticon-groups1 fontsize-3 inline'></i> Clientes"><i class="flaticon-groups1"></i><p class="letraMenu2">Clientes</p></a>
                </li>
                <li class="LiMenu2">
                    <a href="reportes" class="reportes pedidos textazul" data-title="<i class='flaticon-file148 fontsize-3 inline'></i> Reportes"><i class="flaticon-file148"></i><p class="letraMenu2">Reportes</p></a>
                </li>
                <li class="LiMenu2">
                    <a href="feedback" class="feedback pedidos textazul" data-title="<i class='flaticon-chat21 fontsize-3 inline'></i> Feedback"><i class="flaticon-chat21"></i><p class="letraMenu2">Feedback</p></a>
                </li>
                 <li class="LiMenu2">
                    <a href="notifications" class="notifications pedidos textazul" data-title="<i class='flaticon-house204 fontsize-3 inline'></i> Notifications"><i class="flaticon-house204 textazul"></i><p class="letraMenu2">Notifications</p></a>
                </li>
            </ul>  
              
                <!-- <nav id="software-nav">
                            <ul  style="list-style:none;">
                                <li>
                                <a href="pedidos" class="pedidos" data-title="<i class='icon-phone fontsize-3 inline'></i> Pedidos"><i class="icon-phone"></i><p>Pedidos</p></a></li>
                                <li><a href="clientes" class="clientes" data-title="<i class='icon-group fontsize-3 inline'></i> Clientes"><i class="icon-group"></i><p>Clientes</p></a>
                                </li>
                                <li>
                                <a href="reportes" class="reportes" data-title="<i class='icon-menu2 fontsize-3 inline'></i> Reportes"><i class="icon-menu2"></i><p>Reportes</p></a>
                                </li>
                                <li><a href="feedback" class="feedback" data-title="<i class='icon-bullhorn fontsize-3 inline'></i> Feedback"><i class="icon-bullhorn"></i><p>Feedback</p></a></li>
                            </ul>
                        </nav>  -->
            </div>
            <div class="large-12 columns PrincipalSec">
             <div id="app-sections">
            <div id="containerNoti">
            </div>
               <div class="cell" style="overflow-y: hidden">
              <div id="section-wrapper">
                <div class="section activo" data-section="dashboard"></div>
                <div class="section" data-section="pedidos"></div>
                <div class="section" data-section="clientes"></div>
                <div class="section" data-section="detalles_cliente"></div>
                <div class="section" data-section="reportes"></div>
                <div class="section" data-section="feedback"></div>
                <div class="section" data-section="categorias"></div>
                <div class="section" data-section="productos"></div>
                <div class="section" data-section="metodosPago"></div>
                <div class="section" data-section="usuarios"></div>
                <div class="section" data-section="profile"></div>
                <div class="section" data-section="profileEmpresa"></div>
                <div class="section" data-section="printers"></div>
                <div class="section" data-section="export"></div>
                <div class="section" data-section="notifications"></div>
            </div>
        </div>
    </div>
</div> 
 <div class="large-12 columns Footer">
        <div id="app-footer2">
             <div class="cell clearfix"></div>
        </div>
 </div>

</div>
</div>
</div>
