
                <td width="40%" class="Text-Black"><b>{{name}}</b></td>
                <td width="10%" class="Text-Black"><b>{{quantity}} </b></td>
                <td width="25%" align="right" class="Text-Black"><b>{{priceFormated}} </b></td>
                <td width="25%" align="right" class="Text-Black"><b class="subtotalDash">{{subtotalFormated}}</b></td>
