<div id="login-template">
    <br><br><br><br>
    <div class="row">
        <div class="large-5 columns" style=" position: absolute;left: 50%;top: 43%;transform: translate(-50%,-50%);">
            <div class="divlog">
       <img class=" Imglogo" src="app/images/logo_kipper.png" style="  height: 37px!important;">
            </div>
            <fieldset>
                <form>
                    <ul class="no-list">
                        <li>
                            <label class="TextWhite">Usuario:</label>
                            <input class="Bradius" type="text" name="username" autofocus="" value="">
                        </li>
                        <li>
                            <label class="TextWhite">Contraseña:</label>
                            <input class="Bradius" type="password" name="clave" value="">
                        </li>
                        <li>
                            <button type="submit" class="button success " style="border:none;"><i class=""></i> ENTRAR</button>
                        </li>
                    </ul>
                </form>
            </fieldset>
        </div>
    </div>
</div>