<div id="{{id}}" class="reveal-modal {{size}} {{type}} {{modalType}}">
<div>
 <img class=" Imglogo MsgLogo" src="app/images/logo_kipper.png" style="  top:0%;height: 37px;">
</div>
<div style="margin-top: 8px;border: 2px solid #23BBD2!important; padding: 17px;position: relative;">
    <p>{{{msg}}}</p>
    {{#if close}}
    <!-- <a class="close CirX2">&#215;</a> -->
    {{/if}}
    <div class="row no-margin">
        <div class="large-2 columns">&nbsp;</div>
        <div class="large-8 columns margin-top-1">
            <a class="close Aceptar medium button success ok-btn" style="  margin-bottom: 0;"><i class=""></i>&nbsp;&nbsp;Aceptar</a>
        </div>
        <div class="large-2 columns">&nbsp;</div>
    </div>
</div>
</div>