<td width="200" class="TextBlackBold">
    {{#if fechaLocale}} {{fechaLocale}} {{else}} &nbsp; {{/if}}
</td>
<td class="inline-details TextBlackBold">
    {{#if texto}} {{{texto}}} {{else}} &nbsp; {{/if}}
</td>