<li  class="liDaylist">
	<div class="item status-{{colorStatus}} color"></div>
    <div style="padding-left:9%;padding-rigth:2%">
    <h5 class="textlast" style="margin-left: 0px;">{{{texto}}}</h5>
    <h5 class="inline TextBlackBold">{{horaCaptura}} - </h5><h5 class="thin-title inline">{{cliente}}</h5>
    </div>
    <div class="DivChange">
    <td width="130" class="BordePedRight">
    <div style="  margin-bottom: 5px;">
   <a data-id="{{id}}" class="change-status1" id="{{status}}" style="padding-left: 8px;float: left;">
    <span class="{{#ifCond status '===' 1}}spanDash2{{else}}spanDash1{{/ifCond}}" ></span>
    <span class="textPedi {{#ifCond status '===' 1}}textDashPed{{else}}textDashPed2{{/ifCond}}">
        Enviado
    </span>
</a>
    </div>
    <!--opcion1-->
    <div style="  float:right;margin-right: 5%;" >
      <a  class="change-status2" data-id="{{id}}" id="{{status}}">
    <span class="{{#ifCond status '===' 2}}spanDash1{{else}}spanDash2{{/ifCond}}">
    </span>
    <span class="textPedi {{#ifCond status '===' 2}}textDashPed2{{else}}textDashPed{{/ifCond}}">
        Entregado
    </span>
        </a>
   
    </div>
    <div style="  padding-top: 21px;">
     <p class="horaEnvio">{{horaEnvio}}</p> <p class="horaEntrega">{{horaEntrega}}</p></div>
</td>
    </div>
<!--     <br>
    <h5 class="thin-title inline" id="HoraSalida-{{id}}"></h5> -->
</li>