<div class="ticket">
    <div class="content">
        <div class="image-wrapper"><img src="{{#getImagePath image}}{{/getImagePath}}" alt=""/></div>
        <br>
        <h3>Nota de Venta</h3>
        <p class="fiscalName">{{sucursal.fiscalName}}</p>
        <p class="rfc">RFC: {{sucursal.rfc}}</p>
        <p class="address">{{sucursal.address}}</p>
        <p class="phone">Tel. {{sucursal.phone}}</p>
        <p class="email">{{sucursal.email}}</p>

        <br>
        <p class="client">Cliente: {{cliente}}</p>
        <p class="salesman">Atendió: {{vendedor}}</p>

        <br>
        <table width="100%" cellpadding=0 cellspacing=0 border="0">
            <tr>
                <td>{{fechaString}}</td>
                <td align="right">Folio: {{folio}}</td>
            </tr>
        </table>
        <table width="100%" cellpadding=0 cellspacing=0 border="0" class="details">
            <thead>
            <tr>
                <td width="20%">Cant.</td>
                <td width="40%">Artículo</td>
                <td width="20%">P. Unit.</td>
                <td width="20%">Importe</td>
            </tr>
            </thead>
            <tbody>
            {{#each productos}}
            <tr>
                <td>{{quantity}}</td>
                <td>{{name}}</td>
                <td align="right">{{priceFormated}}</td>
                <td align="right">{{subtotalFormated}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>

        <table width="100%" cellpadding=0 cellspacing=0 border="0">
            <tr>
                <td width="80%" align="right">Total:</td>
                <td width="20%" align="right"><strong>{{costo}}</strong></td>
            </tr>
        </table>
        <br>
        <p class="text-center">Gracias por su compra<br> regrese pronto.</p>
        <br>
    </div>
</div>

<div class="controls">
    <a href="#print" class="button success large expand print no-margin"><i class="icon-print"></i></a>
</div>