<td width="130" class="BordePedRight">
    <div style="  margin-bottom: 11px;">
   <a class="change-status1" data-status="{{status}}">
    <span class="{{#ifCond status '===' 1}}spanop1{{else}}spanop2{{/ifCond}}" ></span>
    <span class="textPedi">
        {{#ifCond status '===' 1}}
        <p style="font-weight: 700;
  color:#EE3E46;">Pendiente</p>
        {{else}}
        <p style="font-weight: 700;
  color: #22B573;">Enviado</p>
        {{/ifCond}}
    </span>
</a>
    </div>
    <!--opcion1-->
    <div style="">
      <a  class="change-status2" data-status="{{status}}">
    <span class="{{#ifCond status '===' 2}}spanEnt2{{else}}spanEnt{{/ifCond}}">
    </span>
    <span class="textPedi {{#ifCond status '===' 2}}text-gren2{{else}}text-gris{{/ifCond}}">
        Entregado
    </span>
        </a>
   
    </div>
</td>
<td width="90" class="TextBlackBold">
    {{#if fechaLocale}} {{fechaLocale}} {{else}} &nbsp; {{/if}}
</td>
<td width="90" class="TextBlackBold">
    {{#if horaCaptura}} {{horaCaptura}} {{else}} &nbsp; {{/if}}
</td>
<td width="120" class="TextBlackBold">
    {{#if texto}} {{{texto}}} {{else}} &nbsp; {{/if}}</td>
<td width="120" class="TextBlackBold">
    {{#if cliente}} {{cliente}} {{else}} &nbsp; {{/if}}
</td>
<td width="120" class="TextBlackBold">
    {{#if vendedor}} {{vendedor}} {{else}} &nbsp; {{/if}}
</td>
<td width="120">
    {{#if costo}} <h5>{{costo}}</h5> {{else}} &nbsp; {{/if}}
</td>
<td width="180"  style="border-right: 1px solid rgb(35, 187, 210);">
    <ul class="button-group even-4">
        <li><a href="#print" class="small button secondary print btn1Prod" ><i class="icon-print"></i></a></li>
        <li><a href="#preview" class="small button secondary preview btn1Prod"><i class="icon-search"></i></a></li>
        <li><a class="small button secondary edit btn1Prod" data-status="{{status}}"><i class="icon-pencil"></i></a></li>
        <li><a href="#delete" class="small button alert delete btn2Prod"><i class="icon-trash"></i></a></li>
    </ul>
</td>