<tr>
<td style="width: 89%!important;">
    <h6>{{papel}}</h6>
</td>
<td style="width: 15%!important;">
    <ul class="button-group alignright" style="  width: 88px;">
<!--         <li><a href="#" class="small button secondary view"><i class="icon-search"></i></a></li> -->
        <!--<li><a href="#" class="small button secondary edit"><i class="icon-pencil"></i></a></li>-->
        <li><a href="#" class="small button alert delete Btn2Pro"><i class="icon-trash"></i></a></li>
    </ul>
</td>
</tr>