<td valign="middle">{{name}}</td>
<td width="100"><input id="prodCant"  type="text" autofocus value="{{quantity}}" size="3" maxlength="3" min="1" max="99" style="width:50px" class="no-margin InputCant" /></td>
<td width="100" valign="middle" align="right" style="text-align: left;">${{price}}</td>
<td width="100" valign="middle" align="right" class="subtotal" style="text-align: left;">${{subtotal}}</td>
<td width="50">
    <a class="button small alert delete no-margin BtnDelPed" href="#delete"><i class="icon-trash"></i></a>
</td>