    <a class="close-reveal-modal" style="color: white!important;
  border: 1px solid white;padding: 0 3px 0 3px;border-radius: 11px;font-size: 13px!important;right: 1%!important;">&#215;</a>
<div class="row collapse">
    <div class="large-5 columns" style="padding-right: 15px;">
        {{#ifCond image '!==' ''}}
        <div style="height:199px;width:100%;background-size: cover!important;border:2px solid rgba(35, 187, 210, 1);position: relative;background: url({{#direction image}}{{/direction}}) no-repeat center top;"></div>
        {{else}}
        <div style="height:199px;width:100%;background-size: cover!important;border:2px solid rgba(35, 187, 210, 1);position: relative;background: url(app/images/notingpicture3.jpg) no-repeat center top;"></div>
        {{/ifCond}}
    </div>
    <div class="large-7 columns">
        <div class="row">
            <div class="large-12 columns"><p class="padding-h1" style="font-weight: bold;font-size: 22px;text-transform: uppercase;text-align: left;line-height: 24px;">{{name}}</p></div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <p class=" textPro fontsize-08">Código: <b>{{code}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <p class=" textPro fontsize-08">Descripción: <b>{{description}}</b></p></div>
        </div>
        <div class="row">
            <div class="large-12 columns"><p class=" textPro fontsize-08">Categoria: <b>{{#categoryName categoryID}}{{/categoryName}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns"><p class=" textPro">Precio: <b>${{price}}</b></p>
            </div>
        </div>
    </div>
</div>