{{#if product}}<input type="hidden" name="productID" value="{{product.id}}">
<h6 class="catH6" style="position: absolute;width: 96%;margin-bottom:0;left: 0!important;">EDITAR PRODUCTO</h6>      
{{/if}}
<div class="row collapse">
    <div class="large-12 columns">
        <select id="categoryID" name="categoryID" class="medium inputFormat">
            {{#each categories}}
                {{#ifCond id '==' ../product.categoryID}}
                    <option value="{{id}}" selected>{{name}}</option>
                {{else}}
                    <option value="{{id}}">{{name}}</option>
                {{/ifCond}}
            {{/each}}
        </select>
    </div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><input type="text" id="code" name="code" placeholder="Código del Producto" value="{{product.code}}"/ class="inputFormat"></div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><input type="text" id="name" name="name" placeholder="Nombre del Producto" value="{{product.name}}"/ class="inputFormat"></div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><textarea id="description" name="description" rows="3" placeholder="Breve descripción del producto" class="inputFormat">{{product.description}}</textarea></div>
</div>
<div class="row collapse">
    <div class="large-12 columns"><input type="text" id="price" name="price" value="{{product.price}}"/ class="inputFormat inputPrice" placeholder="Precio"></div>
</div>
<!--
<div class="row collapse">
    <div class="large-3 columns"><span class="prefix"><label for="creationDate">Fecha de Creación</label></span></div>
    <div class="large-9 columns"><input type="text" id="creationDate" disabled value="{{product.creationDate}}"/></div>
</div>
-->
<div class="row collapse">
     <div class="large-7 columns">
   <p class="response Fileimg">Imagen</p>
    </div>
    <div class="large-5 columns">
           <label class="fileContainer">
                    seleccionar archivo 
                            <input type="file" id="image" name="image" class="inputFile"/>
    </label>
    </div>
</div>
<div class="row collapse no-margin">
    <div class="large-12 columns">
        {{#if product}}
        <ul class="button-group even-2 no-margin">
            <li><button type="submit" class="small Aceptar button {{#if section}}secondary{{else}}success{{/if}} update no-margin"><i class=""></i> Actualizar</button></li>
            <li><button type="button" class="small button alert cancel no-margin"><i class=""></i> Cancelar</button></li>
        </ul>
        {{else}}
        <input type="submit" value="Agregar Producto" class="button {{#if section}}secondary{{else}}success{{/if}} expand no-margin Azul" style="  width: 100%!important;"/>
        {{/if}}
    </div>
</div>