<div class="row">
    <h3 class="padding-h1" style="height:0px;margin-top: 0%;color: white;  margin-left: 6%;">{{#if usuario.id}}EDITAR USUARIO{{else}}NUEVO USUARIO{{/if}}</h3>
  <a class="close-reveal-modal CirX3" style="right: 0%!important;top: -19%!important;">&#215;</a>
<div class="large-11 columns large-offset-1" style="padding: 0;">
<form id="user-form" {{#if usuario.id}}class="updating"{{/if}}>
    {{#if usuario.id}}
    <input type="hidden" name="usuarioID" value="{{usuario.id}}"/>
    {{/if}}
    <div class="row">
        <div class="large-4 columns" style="padding: 0;">
            <fieldset class="EditUser">
                {{#if usuario.id}}
                    {{#ifCond usuario.foto '!==' ''}}
                    <div id="image-preview" style="
                      background-position: center center!important;
                    background-size: cover!important;
                    border: 3px solid rgb(35, 187, 210);width:100%;height:179px;background:url({{#direction usuario.foto}}{{/direction}}) no-repeat top center;background-size:contain;
                      margin-bottom: 12px;
                    ">
                     <!--    <a href="" class="small alert button alignright" id="remove-image"><i class="icon-trash"></i></a> -->
                    </div>
                    <a href="#" class="medium secondary button expand no-margin" id="btnFoto"><i class=""></i> Cambiar Imagen</a>
                    {{else}}
                    <div id="image-preview" style="width:100%;height:179px;border: 3px solid rgb(35, 187, 210);margin-bottom: 12px;">&nbsp;</div>
                    <a href="#" class="medium secondary button expand no-margin" id="btnFoto"><i class=""></i> Subir Imagen</a>
                    {{/ifCond}}
                {{else}}
                <div id="image-preview" style="width:100%;height:179px;border: 3px solid rgb(35, 187, 210);margin-bottom: 12px;">&nbsp;</div>
                <a href="#" class="medium secondary button expand no-margin" id="btnFoto"><i class=""></i> Subir Imagen</a>
                {{/if}}



                <input type="file" class="hidden-field" name="foto" id="foto">
            </fieldset>
        </div>
        <div class="large-8 columns" style="padding: 0;">
            <fieldset  class="formEdit">
                <div class="row collapse">
                    <div class="large-12 columns"><input id="nombres" name="nombres" placeholder="Nombres" type="text" autofocus value="{{usuario.nombres}}"/ class="IEditUser"></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><input id="apellidos" name="apellidos" placeholder="Apellidos" type="text" value="{{usuario.apellidos}}"/ class="IEditUser"></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><input id="correo" name="correo" placeholder="Correo Electrónico" type="text" value="{{usuario.correo}}"/ class="IEditUser"></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><input id="username" name="username" placeholder="Nombre de usuario" type="text" value="{{usuario.username}}"/ class="IEditUser"></div>
                </div>
                {{#if usuario.password}}
                <div class="MyAlert">
                    <span style="font-size:16.5px;" class="fontsize-08 thin-title">Si no deseas cambiar la contraseña, deja los siguientes campos en blanco</span>
                </div>
                {{/if}}
                <div class="row collapse">
                    <div class="large-12 columns"><input id="password" name="password" placeholder="Contraseña" type="password" value=""/ class="IEditUser"></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns"><input id="confirmar" name="confirmar" placeholder="Confirmar contraseña" type="password"/ class="IEditUser"></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <select id="sucursalID" name="sucursalID" style="  border-radius: 3px;" class="SelectFormat" value="">
                            {{#each sucursales}}
                            {{#ifCond id '==' ../usuario.sucursalID}}
                            <option value="{{id}}" selected>{{name}}</option>
                            {{else}}
                            <option value="{{id}}">{{name}}</option>
                            {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <select name="perfil" id="perfil"  style="  border-radius: 3px;" class="SelectFormat">
                            {{#each perfiles}}
                            {{#ifCond id '==' ../usuario.perfil}}
                            <option value="{{id}}" selected>{{name}}</option>
                            {{else}}
                            <option value="{{id}}">{{name}}</option>
                            {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <ul class="button-group even-2">
                            <li><button style="width: 95%;  border: none;" type="submit" class="success button save Aceptar"><i class=""></i> {{#if usuario.id}}Actualizar{{else}}Guardar{{/if}}</button></li>
                            <li><button style="width: 95%;  height: 41px;" type="button" class="alert button cancel Cancelar"><i class=""></i> Cancelar</button></li>
                        </ul>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
</div>
</div>