<div class="row">
     <a class="close close-reveal-modal CirX3" style="right: 0%!important;top: 7.5%!important;">&#215;</a>
    <div class="large-offset-1 large-10 columns"><h3 class="TextBlackWhite">Editar Orden</h3></div>
</div>
<div class="row">
    <div class="large-offset-1 large-10 columns">

        <fieldset class="padding-05" style="margin: 0!important;margin-bottom: 3%!important;">
            <div class="row">
                <div class="large-6 columns">
                    <span id="info-pedido">
                        <table cellpadding=0 cellspacing=0 width="95%">
                            <tr>
                                <td><h5 class="thin-title TextWhite">Folio:</h5></td>
                                <td>{{pedido.folio}}</td>
                            </tr>
                            <tr>
                                <td><h5 class="thin-title TextWhite">Fecha:</h5></td>
                                <td>{{pedido.fechaLocale}}</td>
                            </tr>
                            <tr>
                                <td><h5 class="thin-title TextWhite">Hora:</h5></td>
                                <td>{{pedido.horaCaptura}}</td>
                            </tr>
                        </table>
                    </span>
                </div>
                <div class="large-6 columns">
                    <span id="info-cliente">
                        <table cellpadding=0 cellspacing=0 width="95%">
                            <tr>
                                <td><h5 class="thin-title TextWhite">Nombre:</h5></td>
                                <td>{{cliente.nombres}} {{cliente.apellidos}}</td>
                            </tr>
                            <tr>
                                <td><h5 class="thin-title TextWhite">Teléfono:</h5></td>
                                <td>{{cliente.telefono}}</td>
                            </tr>
                            <tr>
                                <td><h5 class="thin-title TextWhite">Dirección:</h5></td>
                                <td>{{cliente.direccion}}</td>
                            </tr>
                        </table>
                    </span>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="large-8 columns">
                <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin">
                   <thead class="TheadPedido">
                    <tr>
                        <td><h5 class="Theadwhite">Producto</h5></td>
                        <td width="100"><h5 class="Theadwhite">Cantidad</h5></td>
                        <td align="right" width="100"><h5 class="Theadwhite">P. Unit.</h5></td>
                        <td align="right" width="100"><h5 class="Theadwhite">Subtotal</h5></td>
                        <td width="50"><h5>&nbsp;</h5></td>
                    </tr>
                    </thead>
                </table>
                <div class="auto-height" style="max-height: 300px">
                    <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin" id="order-list" style="border-right: 1px solid #23BBD2;
  border-left: 1px solid #23BBD2;">
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <table width="100%" cellspacing=0 cellpadding=0 class="border-table no-margin" style="margin-bottom:3%!important;">
                    <tr style="  border-left: 1px solid rgb(35, 187, 210);border-right: 1px solid rgb(35, 187, 210);">
                        <td align="right" class="paddinFormat" style="font-weight: 800;
  text-transform: uppercase;
  font-size: 17px;
  padding-right: 11px!important;
">Total:</td>
                        <td width="100" align="right" class="paddinFormat"><h3 class="thin-title paddinFormat"><span id="total-amount" style="  font-weight: 800;
  font-size: 19px;
  color: white;
  text-transform: uppercase;
">{{pedido.costo}}</h3></span></td>
                        <td width="50">&nbsp;</td>
                    </tr>
                </table>
                <fieldset class="no-margin FormFormat" style="  border: solid 1px #23BBD2;">
                    {{#ifCond pedido.pagado "===" 1}}
                    <div class="row hidden">
                    {{else}}
                    <div class="row">
                    {{/ifCond}}
                        <div class="large-4 columns">
                            <label for="metodoPago" class="text-white TextWhite">Método de Pago:</label>
                            <select name="metodoPago" class="no-margin SelectFormat">
                                {{#each metodos}}
                                    {{#ifCond ../pedido.metodoPago "===" id}}
                                    <option value="{{id}}" selected>{{name}}</option>
                                    {{else}}
                                    <option value="{{id}}">{{name}}</option>
                                    {{/ifCond}}
                                {{/each}}
                            </select>
                        </div>
                        <div class="large-3 columns">
                            <label for="" class="text-white TextWhite">Recibe:</label>
                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <span class="prefix PedText">$</span>
                                </div>
                                <div class="large-10 columns">
                                    <input type="number" name="recibe" class="no-margin InputPedidos"/>
                                </div>
                            </div>
                        </div>
                        <div class="large-3 columns">
                            <label for="" class="text-white TextWhite">Cambio:</label>
                            <div class="row collapse">
                                <div class="large-2 columns">
                                    <span class="prefix PedText">$</span>
                                </div>
                                <div class="large-10 columns">
                                    <input type="number" name="cambio" class="no-margin InputPedidos"/>
                                </div>
                            </div>
                        </div>
                        <div class="large-2 columns" style="padding: 0 11px 0 0;margin: 0;">
                            <label for="" class="text-white TextWhite">Ahora:</label>
                            <div class="switch small no-margin" style="  border-radius: 4px;height: 37px!important;">
                                <input type="radio" id="apl1" name="aplicar" value="0" checked/>
                                <label for="apl1" onclick="" class="switch1">No</label>

                                <input type="radio" id="apl2" name="aplicar" value="1"/>
                                <label for="apl2" onclick="" class="switch2">Si</label>

                                <span style="  height: 38px;
  width: 41px;transform: translate(-26%);width: 50px;"></span>
                            </div>
                        </div>
                    </div>
                    {{#ifCond pedido.pagado "===" 0}}
                    <p class="hidden">Orden Pagada</p>
                    {{else}}
                    <p>Orden Pagada</p>
                    {{/ifCond}}
                </fieldset>
                {{#ifCond pedido.comentario "!==" " "}}
                <fieldset class="no-margin padding-05" style="border:none">
                    {{{pedido.comentarios}}}
                </fieldset>
                {{/ifCond}}
            </div>
            <div class="large-4 columns">
                <fieldset class="no-margin paddinFormat">
                      <h6 class="catH6">PRODUCTOS</h6>
                <div class="FormFormat">
                <div style="position:relative;">
                    <span class="icon-search spanBusq"></span>
                <input class="custom InputPhone" name="search" id="searchProd" type="search" placeholder="Buscar producto ..." style="padding-left: 26px;"/>
                </div>
                    <select name="categoryID" class="custom SelectFormat" id="categoryID">
                        <option value="all">Todas</option>
                        {{#each categories}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <ul id="products-list" class="products-list" style=" max-height:144px;height: 144px;">
                    </ul>
                </div> 
                </fieldset>
                <a href="#update" class="large button success radius expand space-top-1 thin-title update-order"><i class=""></i> Actualizar</a>
            </div>
        </div>
    </div>
</div>