
<div class="divlog" style="text-align:center;position:relative;">
   <img class="" src="app/images/logo_kipper.png" style="">
</div>
<div style="border: 2px solid #23BBD2!important;padding:30px; position: relative;">
   <a class="close close-reveal-modal" style="color: white!important;border: 1px solid white;padding: 0 3px 0 3px;border-radius: 11px;font-size: 13px!important;right: 5px;">&#215;</a>
{{#if actions}}
<h3 style="  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: white;">Cambiar Estado del Pedido</h3>
<p style="font-size: 18px;
  text-align: center;">Selecciona el estado del pedido</p>
{{/if}}

<fieldset style="  border-radius: 3px;
  border: 1px solid #C6C8C8;">
    <div class="row collapse">
        <div class="large-2 columns"><p>Folio:</p></div>
        <div class="large-10 columns"><p>{{folio}}</p></div>
    </div>
    <div class="row collapse">
        <div class="large-2 columns"><p>Cliente:</p></div>
        <div class="large-10 columns">{{cliente}}</div>
    </div>
    <div class="row collapse">
        <div class="large-2 columns"><p>Pedido:</p></div>
        <div class="large-10 columns">{{{texto}}}</div>
    </div>
    <div class="row collapse">
        <div class="large-2 columns"><p>Fecha:</p></div>
        <div class="large-10 columns"><p>{{fechaLocale}} a las {{horaCaptura}}</p></div>
    </div>
    <div class="row collapse">
        <div class="large-2 columns"><p>Estatus:</p></div>
        <div class="large-10 columns"><p>{{statusText}}</p></div>
    </div>
    <div class="row collapse">
        <div class="large-2 columns" style="padding-top: 4px;"><p>Costo:</p></div>
        <div class="large-10 columns"><h3 class="thin-title" style="  color: white;
  font-size: 18px;
  font-weight: bold;">{{costo}}</h3></div>
    </div>
</fieldset>

{{#ifCond status '!==' 2}}
    <ul class="button-group even-2" style="margin-bottom: -4%;margin-top: 3%;">
        {{#ifCond status '===' 1}}
                <li><a href="#" class="large button success thin-title send" id="Aceptar"><i class=""></i>Enviado</a></li>
        {{else}}
                <li><a href="#" class="close large button success thin-title complete" id="Aceptar"><i class=""></i> Entregado</a></li>
        {{/ifCond}}
        <li><a href="#" class="close large button alert thin-title cancel"><i class=""></i> Cancelar</a></li>
    </ul>
{{/ifCond}}
</div>