<div id="phoneSearch">
<!-- class="close-reveal-modal" -->
    <div class="row">
        <div class="divlog2">
       <img class=" Imglogo" src="app/images/logo_kipper.png">
</div>
        <div class="large-3 columns">&nbsp;</div>
        <div class="large-6 columns">
            <div class="space-top-7">
                <form action="" id="phoneForm" class="FormFormat2 BorderFormat">
                       <a class="close close-reveal-modal CirX3" style="  right: 5%!important;
  top: 53.5%!important;">&#215;</a>
                    <label for="phone"><h3 class="thin-title" style="  color: white!important;
  margin: 0px;  margin-top: 10px;">Teléfono:</h3></label>
                    <div class="row collapse">
                        <div class="large-11 columns">
                            <input type="search" id="phone" class="large InputPhone2" autofocus="autofocus" style="  width: 100%!important;"/>
                        </div>
                        <div class="large-1 columns">
                            <button type="submit" class="button large postfix"><i class="icon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="large-3 columns">&nbsp;</div>
    </div>
</div>
<div id="popupContent">
      <a class="close close-reveal-modal CirX3" style="right: 0%!important;top: 7.5%!important;">&#215;</a>
    <div class="row">
        <div class="large-9 columns"><h3 class="TextBlackWhite">Nueva Orden</h3></div>
        <div class="large-3 columns">
            <!--
            <form action="" id="phoneFormSmall">
                <div class="row collapse">
                    <div class="large-10 columns"><input type="search" name="phone"/></div>
                    <div class="large-2 columns"><button class="button secondary postfix no-margin"><i class="icon-search"></i></button></div>
                </div>
            </form>
            -->
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns">
            <form action="" id="phoneFormSmall" class="space-top-05">
                <div class="row collapse">
                    <div class="large-11 columns"><input type="search" name="phone" class="no-margin InputPhone2"/></div>
                    <div class="large-1 columns" style="  left: -11px;"><button class="button secondary postfix no-margin BtnSearch2"><i class="icon-search"></i></button></div>
                </div>
            </form>

            <fieldset class="no-margin" style="min-height: 500px; max-height: 500px; padding:0">
                <h6 class="catH6">DATOS DEL CLIENTE</h6>
                <form action="" id="clientForm" class="custom FormFormat"></form>
            </fieldset>
        </div>
        <div class="large-6 columns" style="  margin: 0;padding: 0;">
            <fieldset class="no-margin" style="padding: 0;border: none;">
                <h3 class="TextBlackWhite" style="font-weight: 500;">DATOS DE LA ORDEN</h3>
                <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin" style="border: none;width: 100.2%;  margin-bottom: 0;">
                    <thead class="TheadPedido">
                    <tr>
                        <td><h5 class="Theadwhite">Producto</h5></td>
                        <td width="100"><h5 class="Theadwhite">Cantidad</h5></td>
                        <td align="right" width="100"><h5 class="Theadwhite">P. Unit.</h5></td>
                        <td align="right" width="100"><h5 class="Theadwhite">Subtotal</h5></td>
                        <td width="50"><h5>&nbsp;</h5></td>
                    </tr>
                    </thead>
                </table>
                <div class="order-products-table">
                    <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin" id="order-table" style="">
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <table width="100%" cellpadding=0 cellspacing=0 class="border-table" style="  border: 1px solid rgb(35, 187, 210);
  width: 100.2%;">
                    <tr>
                        <td align="right">Total:</td>
                        <td width="100" align="right" id="total-amount">$<span class="fontsize-1">0.00</span></td>
                        <td width="50">&nbsp;</td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="no-margin padding-05" style="border: 1px solid #23BBD2;">
                <div class="row">
                    <div class="large-4 columns">
                        <label for="metodoPago" class="text-white TextWhite">Método de Pago:</label>
                        <select name="metodoPago" class="no-margin SelectFormat">
                            {{#each metodos}}
                            <option value="{{id}}" {{#ifCond name "===" "Efectivo"}} selected {{/ifCond}}>
                            {{name}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="large-3 columns">
                        <label for="" class="text-white TextWhite">Recibe:</label>
                        <div class="row collapse">
                            <div class="large-2 columns">
                                <span class="prefix PedText">$</span>
                            </div>
                            <div class="large-10 columns">
                                <input type="number" name="recibe" class="no-margin InputPedidos"/>
                            </div>
                        </div>
                    </div>

                    <div class="large-3 columns">
                        <label for="" class="text-white TextWhite">Cambio:</label>
                        <div class="row collapse">
                            <div class="large-2 columns">
                                <span class="prefix PedText">$</span>
                            </div>
                            <div class="large-10 columns">
                                <input type="number" name="cambio" class="no-margin InputPedidos"/>
                            </div>
                        </div>
                    </div>

                    <div class="large-2 columns" style="padding: 0 11px 0 0;
  margin: 0;">
                        <label for="" class="text-white TextWhite" style="  font-size: 11.8px;">Aplicar ahora:</label>
                        <div class="switch small no-margin" style="  border-radius: 4px;height: 37px!important;">
                            <input type="radio" id="apl1" name="aplicar" value="0" checked/>
                            <label for="apl1" onclick="" class="switch1">No</label>

                            <input type="radio" id="apl2" name="aplicar" value="1"/>
                            <label for="apl2" onclick="" class="switch2">Si</label>

                            <span style="  height: 38px;
  width: 41px;transform: translate(-26%);width: 50px;"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="large-3 columns" style="margin-top: 5.7%;">
            <fieldset class="no-margin" style="padding: 0!important;
  margin: 0!important;height: 430px;" >
                <h6 class="catH6">PRODUCTOS</h6>
                <div class="FormFormat">
                <div style="position:relative;">
                    <span class="icon-search spanBusq"></span>
                <input class="custom InputPhone" name="search" id="searchProd" type="search" placeholder="Buscar producto ..." style="padding-left: 26px;"></input>
                </div>
                <select name="categoryID" class="custom SelectFormat" id="categoryID">
                    <option value="all">Todas</option>
                    {{#each categories}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <ul id="products-list" class="products-list"></ul>
            </div>                
            </fieldset>
            <a class="button large success thin-title save-order expand" href="#"><i class=""></i> Guardar Pedido</a>
        </div>
    </div>
</div>