<div class="row" style="  margin-top: 10%;">
     <a class="close close-reveal-modal CirX3" style="right: 0%!important;top: 9.5%!important;">&#215;</a>
    <div class="large-offset-2 large-8 columns"><h3 class="TextBlackWhite">ENVIAR CORREO</h3></div>
</div>
<div class="row">
    <div class="large-offset-2 large-8 columns">

        <fieldset class="padding-05" style="margin: 0!important;margin-bottom: 3%!important;">
            <form id="sendcorreo">
            <div class="large-12 columns">
                <p style="color: white!important;margin: 0px;margin-top: 10px;">De: {{nombrecocina}}</p>
                <input id="nombrecocina" type="hidden" value="{{nombrecocina}}">
            </div>
            <div class="large-12 columns">
                <p style="color: white!important;margin:0px;margin-top: 10px;">Para: {{correo}}</p>
                <input id="destinatario" type="hidden" value="{{correo}}">
            </div>
            <div class="large-12 columns">
                <p style="color: white!important;">Asunto:</p>
                <input style="border: 1px solid #ccc;" id="asunto" placeholder="Asunto" class="InputPhone"/>
            </div>
            <div class="large-12 columns">
                <p style="color: white!important;">Mensaje:</p>
                <textarea style="background: #000;padding-left: 5px;color: white;border-radius: 3px;padding-right: 5px;font-size: 14px;border: 1px solid #ccc;" id="mensaje" name="comentarios" placeholder="Mensaje"></textarea>
            </div>
            <div class="row collapse">
            <button type="submit" class="button secondary expand no-margin Azul" style="width: 100%!important;"><i class=""></i> ENVIAR</button>
            </div>
          </form>
        </fieldset>
    </div>
</div>