<td>
    <h5 style="color: #000!important;">{{name}}</h5>
    <p style="color: #000!important;">{{description}}</p>
</td>
<td width="130" align="right" valign="middle">
    <ul class="button-group even-3 right-align">
<!--         <li style="padding-left:3px;">
        	<a href="#" class="small button secondary view Btn1Cat"><i class="icon-search"></i>
        	</a>
        </li> -->
        <li style="padding-left:3px;">
        	<a href="#" class="small button secondary edit Btn1Cat"><i class="icon-pencil"></i>
        	</a>
        </li>
        <li style="padding-left:3px;">
        	<a href="#" class="small button alert delete Btn2Cat"><i class="icon-trash"></i>
        	</a>
        </li>
    </ul>
</td>