<td colspan="2">
    <form class="update-category" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <div class="row collapse">
            <div style="padding-right: 5px;" class="large-3 columns">
                <input class="InpNameCat" type="text" name="name" placeholder="Nombre" value="{{name}}" autofocus="autofocus">
            </div>
            <div style="padding-right: 5px;" class="large-7 columns">
                <input type="text" name="description" placeholder="Descripcion" class="InpDescCat" value="{{description}}">
            </div>
            <div class="large-2 columns">
                <button type="submit" class="ActCat small button success"><i class=""></i> Actualizar</button>
            </div>
        </div>
    </form>
</td>