   <div class="padding-h1">
    <div class="large-7 columns">
       <p class="fechaHeader">{{{fecha}}}</p>
    </div>
    <div class="large-5 columns">
             <div class="large-8 columns padding">
             <div class="ImgPerfil" style="background-size:cover!important;
             {{#ifCond userImage '==' ''}}
             background:url(app/images/perfil.jpg) no-repeat top center;
             {{else}}
             background:url({{#direction userImage}}{{/direction}})no-repeat top center;
            {{/ifCond}}"
             ></div>
             </div>
             <div class="large-4 columns padding">
             <p class="namePerfil">{{user.username}}</p>
             <p class="matrizPerfil">{{sucursal}}</p>
             </div>
       </div>
    </div>
<!-- <div class="padding-h1">
    <table cellpadding=0 cellspacing=0 width="100%">
        <tr>
            <td width="8%" >
                <a href="" class="my-account">
                    <div style="width:80px;height:80px;background: url({{userImage}}) no-repeat top center;background-size:contain"></div>
                </a>
            </td>
            <td width="25%" valign="bottom">
                <a href="" class="my-account"><h2>{{user.username}}</h2></a>
                <h4>{{sucursal}}</h4>
                <h4 id="fecha">{{{fecha}}}</h4>
            </td>
            <td width="40%" valign="bottom">
                <h2 class="big-light-text" id="clock"></h2>
            </td>
            <td width="27%">
                <div class="btn-handler" style="padding-right:1rem"></div>
            </td>
        </tr>
    </table>
</div> -->