<div id="{{id}}" class="reveal-modal {{size}} {{type}} {{modalType}}">
    <div class="view-wrapper">{{{msg}}}</div>
    {{#if close}}
    <!-- <a class="close-reveal-modal CirX">&#215;</a> -->
    {{/if}}
</div>