
<div id="{{id}}" class="reveal-modal {{size}} {{type}} {{modalType}}">
<!--         <a class="close-reveal-modal CirX" style="  top: -117.5%!important;">&#215;</a> -->
<div>
 <img class="" src="app/images/logo_kipper.png">
</div>
<div style="border:2px solid #23BBD2!important; padding:15px">
    <p>{{{msg}}}</p>
    {{#if close}}
    {{/if}}
    <br>
    <div class="row no-margin">
        <div class="large-12 columns margin-top-1">
            <ul class="button-group even-2">
                <li><a class="button Aceptar medium close success ok-btn no-margin"><i class=""></i>&nbsp;&nbsp;Aceptar</a></li>
                <li><a class="close Cancelar2 button medium alert no-btn no-margin"><i class=""></i>&nbsp;&nbsp;Cancelar</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
