<td colspan="2">
    <form class="update-method" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <div class="row collapse">
            <div class="large-10 columns">
                <input type="text" name="name" placeholder="Nombre" value="{{name}}" autofocus="autofocus" class="inputFormat">
            </div>
            <div class="large-2 columns">
                <button type="submit" class="small button success Aceptar2"><i class=""></i> Actualizar</button>
            </div>
        </div>
    </form>
</td>