<td>
    <h5>{{name}}</h5>
</td>
<td width="100" align="right" valign="middle">
    <ul class="button-group even-2 right-align">
        <li><a href="#" class="small button secondary edit Btn1TPag"><i class="icon-pencil"></i></a></li>
        <li><a href="#" class="small button alert delete Btn2TPag"><i class="icon-trash"></i></a></li>
    </ul>
</td>