<div class="last-order">
    <h3>Última Orden</h3>
    <ul class="no-list">
        <h5><label class="inline text-white">Status:</label> {{pedido.statusText}}</h5>
        <h5><label class="inline text-white">Hora:</label> {{pedido.horaCaptura}}</h5>
        <h5><label class="inline text-white">Cliente:</label> {{pedido.cliente}}</h5>
    </ul>
</div>
<div class="last-order-table auto-height-section">
    <table width="100%" cellspacing="0" cellpadding="0" class="border-table no-margin">
        <thead>
        <tr>
            <td width="40%"><h5 class="Twhite">Producto</h5></td>
            <td width="10%"><h5 class="Twhite">Cantidad</h5></td>
            <td width="25%" align="right"><h5 class="text-right Twhite">P. Unitario</h5></td>
            <td width="25%" align="right"><h5 class="text-right Twhite">Subtotal</h5></td>
        </tr>
        </thead>
    </table>
    <div class="scroll-section" style="
  max-height: 181px!important;height:auto!important;">
        <table width="100%" cellspacing="0" cellpadding="0" class="border-table no-margin" id="last-order-table" style="  border: 1px solid rgb(35, 187, 210);">
            <tbody class="listaday">
          <!--   {{#each products}}
            <tr>
                <td width="40%" class="Text-Black"><b>{{name}}</b></td>
                <td width="10%" class="Text-Black"><b>{{quantity}} </b></td>
                <td width="25%" align="right" class="Text-Black"><b>{{priceFormated}} </b></td>
                <td width="25%" align="right" class="Text-Black"><b>{{subtotalFormated}}</b></td>
            </tr>
            {{/each}} -->
            </tbody>
        </table>
    </div>
    <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin">
        <tbody>
        <tr>
            <td colspan="2" style="border:none!important"></td>
            <td width="25%" style="border:none!important" align="right"><h4>Total:</h4></td>
            <td width="25%" style="border:none!important" align="right"><h4>$<span id="total">0.0</span></h4></td>
        </tr>



        </tbody>
    </table>
</div>