<div data-noti="{{idPop}}" class="noti">
	<h6 style="color: white;text-transform: uppercase;font-size: 12px;">{{{nombre}}} lleva {{{dias}}} dia(s) sin realizar un pedido</h6>
	<h6 class="TextBlackWhite subtext">¿Desea Contactarlo Ahora?</h6>
  <div class="row no-margin">
        <div class="large-12 columns" style="margin-top:.3rem;margin-bottom:.3rem;">
            <ul class="button-group even-
            2">
				  <li style="width:100%;"><a id="AceptarPOP" class="AceptarNoti" data-item="{{id}}" data-noti="{{idPop}}" style="padding:0 61px;!important">&nbsp;&nbsp;&nbsp;ver&nbsp;&nbsp;&nbsp;</a></li>
            </ul>
        </div>
        <DIV class="large-12 columns" style="margin-top:.3rem;margin-bottom:.3rem;">
            <ul class="button-group even-2">
             <li style="width:100%;"><a id="" class="AzulNoti ignore" data-item="{{id}}" data-noti="{{idPop}}">ignorar todos</a></li>
            </ul>
        </DIV>
    </div>
</div>