<div data-noti="{{id}}" class="noti">
	<h6 style="color: white;text-transform: uppercase;font-size: 12px;">{{{texto}}}</h6>
	<h6 class="TextBlackWhite subtext">{{{subtexto}}}</h6>
  {{#if opc}}
  <div class="row no-margin">
        <div class="large-12 columns" style="margin-top:.3rem;margin-bottom:.3rem;">
            <ul class="button-group even-2">
            	  {{#ifCond opc "==" "twoOpc"}}
				  <li><a id="confiAhora" class="AceptarNoti" data-noti="{{id}}">&nbsp;&nbsp;ahora</a></li>
				  <li><a id="confiLuego" class="AzulNoti" data-noti="{{id}}">despues</a></li>
				  {{else}}
				  <li style="margin-left: 80px;"><a id="Aceptarfirsttime" class="AceptarNoti" data-noti="{{id}}">&nbsp;&nbsp;Aceptar</a></li>
				  {{/ifCond}}
            </ul>
        </div>
    </div>
  {{/if}}
</div>