<td colspan="2">
    <form class="update-printer" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <div class="row collapse">
            <div class="large-3 columns">
                <input type="text" name="papel" placeholder="Tamaño de papel" value="{{name}}" autofocus="autofocus">
            </div>
        </div>
    </form>
</td>