<td width="100">
	{{#ifCond image '!==' ''}}
    <div style="width:90px;height:78px;background:url({{#direction image}}{{/direction}}) no-repeat top center; background-size:cover;"></div>
    {{else}}
    <div style="width:90px;height:78px;background:url(app/images/notingpicture3.jpg) no-repeat top center; background-size:cover;"></div>
    {{/ifCond}}
</td>
<td width="100" style="position:relative"><span class="spanSubTitle">{{code}}</span></td>
<td>
    <h6>{{name}}</h6>
    <p style="color: #000;">{{description}}</p>
    <p style="color: #717070;">{{#categoryName categoryID}}{{/categoryName}}</p>
</td>
<td width="100" style="position:relative"><span class="spanSubTitle">${{price}}</span></td>
<td width="150">
    <ul class="button-group alignright">
        <li><a href="#" class="small button secondary view Btn1Pro"><i class="icon-search"></i></a></li>
        <li><a href="#" class="small button secondary edit Btn1Pro" data-item="{{id}}"><i class="icon-pencil"></i></a></li>
        <li><a href="#" class="small button alert delete Btn2Pro"><i class="icon-trash"></i></a></li>
    </ul>
</td>