<div class="row collapse">
        <div class="large-12 columns">
            <label for="name" class="Textblack">Tiempo De Inactividad Del Cliente</label>
            <input  disabled type="text" id="time" name="time" value="{{#ifCond firstConfig "===" ""}}No Configurado{{else}} Cada {{time}} {{/ifCond}}" autofocus="autofocus" class="inputFormat"/>
        </div>
</div>
<div class="row collapse">
        <div class="large-12 columns">
            {{#ifCond firstConfig "===" ""}}
             <button style="padding-top: 7px;height: 30px;width:100%!important;" id="editarNoti" type="button" class="button no-margin thin-title Aceptar2 config"><i class=""></i>Configurar</button>
            {{else}}
            <button style="padding-top: 7px;height: 30px;width:100%!important;" id="editarNoti" type="button" class="button no-margin thin-title Aceptar2"><i class=""></i>Editar</button>
            {{/ifCond}}
        </div>
</div>