<form action="" id="formSettingsName" style="  width: 328px;">
    <div class="row collapse">
        <div class="large-9 columns"><input type="text" name="itemValue" value="{{nombreEmpresa}}" autofocus="autofocus" class="inputFormat"/></div>
        <div class="large-3 columns"><button type="submit" class="button secondary prefix  BtnActualizar"><i class="icon-refresh"></i></button></div>
    </div>
</form>