<script type="text/javascript">
    $(document).ready(function(){
        // constants
        var SHOW_CLASS = 'mostrar',
                HIDE_CLASS = 'hide',
                ACTIVE_CLASS = 'active';

        $( '.pestania' ).on( 'click', 'li a', function(e){
            e.preventDefault();
            var $tab = $( this ),
                    href = $tab.attr( 'href' );

            $( '.active' ).removeClass( ACTIVE_CLASS );
            $tab.addClass( ACTIVE_CLASS );

            $( '.mostrar' )
                    .removeClass( SHOW_CLASS )
                    .addClass( HIDE_CLASS )
                    .hide();

            $(href)
                    .removeClass( HIDE_CLASS )
                    .addClass( SHOW_CLASS )
                    .hide()
                    .fadeIn( 550 );

        });
    });

</script>

<section id="settings">
    <div class="row">
<div class="large-12 columns" style="height: 48px;border-bottom: 6px solid #23BBD2;">
 <div>
 <img class=" Imglogo MsgLogo" src="app/images/logo_kipper.png" style="padding-top: 8px;height: 50px;">
</div>
  </div>
        <div class="large-12 columns paddinFormat" style="background: #E6E6E6;">
            <form id="settings-form" class="space-top-1">
                <p class="textGracias">Gracias por usar Kiper, seleccione una opción antes de comenzar.</p>

                <div class="flat-form" style="width:100%!important;height: 100vh;">
                    <div id="nuevo" class="form-action mostrar" style="margin-top: -5% !important;">

                        <div class="small-12 columns paddinFormat">
                            <!-- end primordiales -->
                            <!-- datos adicionales -->
                            <div class="large-7 columns">
                            <fieldset class="paddinFormat">
                                <h6 class="catH6">DATOS DEL ADMINISTRADOR</h6>
                                <div class="FormFormat">
                                  <div class="large-5 columns">
                                    <div class="large-12 columns paddinFormat containerFoto">
                                         <div class="fotoPerfil" style="background-image:url(app/images/notingpicture.jpg)">
                                        </div>
                                    </div>
                                  <div class="row collapse">
                                    <div class="large-12 columns">
                                     <label class="fileContainer" style="  margin-left: 0!important;">
                                     selecionar archivo 
                                     <input type="file" id="foto" name="foto">
                                     </label>
                                  </div>
                                </div>
                                </div>
                                     <div class="large-7 columns paddinFormat">
                                <div class="row collapse">
                                    <div class="large-12 columns"><input type="text" id="nombres" name="nombres" placeholder="Nombres" class="inputFormat" value=""></div>
                                </div>

                                <div class="row collapse">
                                    <div class="large-12 columns"><input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" class="inputFormat" value=""></div>
                                </div>

                                <div class="row collapse">
                                    <div class="large-12 columns"><input type="email" id="correo" name="correo" placeholder="Correo electrónico" class="inputFormat" value=""></div>
                                </div>

                               <!--  <div class="row collapse">
                                    <div class="large-12 columns"><input type="file" id="foto" name="foto"></div>
                                </div>
 -->
                                <div class="row collapse">
                                    <div class="large-12 columns"><input type="text" id="username" name="username" placeholder="Username" class="inputFormat" value=""></div>
                                </div>

                                <div class="row collapse">
                                    <div class="large-12 columns"><input type="password" id="password" name="password" placeholder="Contraseña" class="inputFormat" value=""></div>
                                </div>

                                <div class="row collapse">
                                    <div class="large-12 columns"><input type="password" id="confirmar" name="confirmar" placeholder="Confirmar Contraseña" class="inputFormat" value=""></div>
                                </div>

                                <div class="row collapse">
                                    <div class="large-12 columns"><select name="sucursalID" id="sucursal" class="SelectFormat2">
                                        {{#each sucursales}}
                                        <option value="{{id}}">{{name}}</option>
                                        {{/each}}
                                    </select></div>
                                </div>
                                 </div>
                                </div>

                            </fieldset>
                            <!-- end adicionales -->
                                 <div class="row collapse">
                                    <div class="large-12 columns" style="  margin-top: 3%;">
                                        <ul class="button-group even-2">
                                            <li style="width:100%"><button type="submit" class="success button thin-title Aceptar" style="border: none;font-size: 22px!important;height: 44px;padding-top: 10px;"><i class=""></i>&nbsp;&nbsp;GUARDAR DATOS</button></li>
<!--                                             <li>
                                                <button type="button" class="alert button cancel thin-title Cancelar" style="  font-size: 19px!important;height: 43px;"><i class=""></i>&nbsp;&nbsp;MAS TARDE</button>
                                            </li> -->
                                        </ul>
                                    </div>
                          </div>
                            </div>
                            <div class="small-5 columns">
                            <div class="large-12 colums">
                            <fieldset class="paddinFormat">
                                 <h6 class="catH6">DATOS DE CONFIGURACION</h6>
                                 <div class="FormFormat" style="  margin-top: 18px;">
                                <div class="row collapse">
                                    <div class="large-12 columns"><input type="text" id="nombre_empresa" name="nombre_empresa" placeholder="Nombre de la empresa" class="inputFormat" value=""></div>
                                </div>
                                <div class="row collapse">
                                <div class="large-7 columns">
                                <p class="logotipo Fileimg">Logotipo</p>
                                </div>
                                    <div class="large-5 columns">
                                          <label class="fileContainer">
                                                   selecionar archivo 
                                    <input type="file" id="logotipo" placeholder="Seleccione un archivo" name="logotipo">
                                    </label>
                                    </div>
                                </div>
                            </div>
                            </fieldset>
                            <div class=" large-12 columns paddinFormat">
                            <fieldset class="paddinFormat" style="margin-top: 31px;padding: 0;">
                                <h6 class="catH6">IMPORTAR BASE DE DATOS</h6>
                                <div class="FormFormat" style="  margin-top: 18px;">
                                <div class="row collapse">
                                        <div class="large-7 columns">
                                <p class="file Fileimg">Archivos</p>
                                </div>
                                    <div class="large-5 columns">
                                          <label class="fileContainer">
                                                   selecionar archivo 
                                    <input type="file" id="archivos" name="archivos">
                                    </label>
                                    </div>
                                </div>
                                <div class="row collapse">
                                       <div class="large-7 columns">
                                <p class="img Fileimg">Imagenes</p>
                                </div>
                                    <div class="large-5 columns">
                                          <label class="fileContainer">
                                                   selecionar archivo 
                                 <input type="file" id="imagenes"  name="imagenes">
                                    </label>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-12 columns"><input type="button" name="importData" class="success button import thin-title Azul2" value="Importar Datos" style="  height: 30px!important;padding-top: 8px;font-size: 17px;text-transform: uppercase;" /></div>
                                </div>
                            </div>
                            </fieldset>
                        </div>
                        </div>
                          <div class="row collapse">
                                    <div class="large-12 columns" style="  margin-top: 4.9%;">
                                        <ul class="button-group even-2">
                                         <!--    <li><button type="submit" class="success button thin-title Aceptar" style="border: none;font-size: 22px!important;height: 44px;padding-top: 10px;"><i class=""></i>&nbsp;&nbsp;GUARDAR DATOS</button></li>-->
                                            <li style="width: 100%;"> 
                                                <button type="button" class="alert button cancel thin-title Cancelar" style="  font-size: 19px!important;height: 43px;width: 100%!important;"><i class=""></i>&nbsp;&nbsp;MAS TARDE</button>
                                            </li>
                                        </ul>
                                    </div>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
               


            </form>
        </div>
    </div>
</section>