<td width="100" style="  font-size: 18px;color: #000;font-weight:bold;">{{name}}</td>
<td style="  font-size: 17px;color: #000;">{{address}}</td>
<td width="130">
    <ul class="button-group" class="even-3">
<!--         <li><a href="#" class="small button {{#ifCond active '===' 0}} secondary {{/ifCond}} default Btn1PEm"><i class="icon-checkmark"></i></a></li> -->
        <li><a href="#" class="small button secondary edit Btn1PEm"><i class="icon-pencil"></i></a></li>
        <li><a href="#" class="small button alert delete Btn2PEm"><i class="icon-trash"></i></a></li>
    </ul>
</td>