{{#if name}}<td colspan="3">{{/if}}
<h6 class="catH6" style="font-size: 14px;font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  width: 93%;
  position: absolute;
  margin-top: 8%;">Editar Sucursal {{name}}</h6>
<form action="" id="suc-form" class="PadForm" style="  margin-bottom: 0px;">
    <div class="row collapse">
        <div class="large-12 columns">
            <label for="name" class="Textblack">Nombre de Sucursal</label>
            <input type="text" id="name" name="name" value="{{name}}" placeholder="Nombre" autofocus="autofocus" class="inputFormat2"/>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-6 columns">
            <label for="fiscalName" class="Textblack">Denominación fiscal</label>
            <input type="text" id="fiscalName" name="fiscalName" value="{{fiscalName}}" placeholder="Denominación fiscal" class="inputFormat2" style="width: 96%;"/>
        </div>
        <div class="large-6 columns">
            <label for="rfc" class="Textblack">RFC</label>
            <input type="text" id="rfc" name="rfc" value="{{rfc}}" placeholder="RFC" class="inputFormat2"/>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-12 columns">
            <label for="address" class="Textblack">Direción</label>
            <input type="text" id="address" name="address" value="{{address}}" placeholder="Dirección" class="inputFormat2"/>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-6 columns">
            <label for="phone" class="Textblack">Teléfono:</label>
            <input type="text" id="phone" name="phone" value="{{phone}}" placeholder="Teléfono" class="inputFormat2" style="width: 96%;"/>
        </div>
        <div class="large-6 columns">
            <label for="email" class="Textblack2">Correo electrónico</label>
            <input type="email" id="email" value="{{email}}" placeholder="Correo electrónico" class="inputFormat2"/>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-6 columns">
            <button type="submit" class="large button thin-title expand Azul">{{#if name}}<i class=""></i> Actualizar{{else}}Guardar{{/if}}</button>
        </div>
        <div class="large-6 columns">
            <button type="button" class="large button alert thin-title expand close Cancelar"><i class=""></i> Cancelar</button>
        </div>
    </div>
</form>
{{#if name}}</div>{{/if}}