<h3 class="TextBlackWhite" style="text-align:left;margin: 0;">{{usuario.nombreCompleto}}</h3>
<a class="close-reveal-modal CirX3" style="top:11%!important;right: 7%!important;">×</a>
<div class="row">
    <div class="large-5 columns" style="padding:0;margin: 0;">
        {{#ifCond usuario.foto '==' ''}}
        <div style="border:3px solid rgb(35, 187, 210);width:100%;height:200px;background:url(app/images/perfil.jpg) no-repeat center top; background-size: cover;"></div>
        {{else}}
        <div style="border:3px solid rgb(35, 187, 210);width:100%;height:200px;background:url({{#direction usuario.foto}}{{/direction}}) no-repeat center top; background-size: cover;"></div>
        {{/ifCond}}
    </div>
    <div class="large-7 columns" style="  padding-right: 0;">
        <div class="row">
            <div class="large-9 columns">
                <p class="text-left">Nombres: <b>{{usuario.nombres}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns">
               <p class="text-left">Apellidos: <b>{{usuario.apellidos}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns">
               <p class="text-left">Correo: <b>{{usuario.correo}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns">
                <p class="text-left">Username: <b>{{usuario.username}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns">
                <p class="text-left">Sucursal: <b>{{usuario.sucursalName}}</b></p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns">
            <p class="text-left">Perfil: <b>{{usuario.perfilName}}</b></p>
            </div>
        </div>
    </div>
</div>