<figure>
    {{#ifCond foto '!==' ''}}
    <div style="background-image: url({{#direction foto}}{{/direction}})" class="gallery-pic">
    </div>
    {{else}}
    <div style="background-image: url(app/images/perfil.jpg)" class="gallery-pic">
    </div>
    {{/ifCond}}
    <figcaption>
        <div class="divBlack"></div>
        <ul class="no-list alignright actions no-margin">
        <li><a class="details Btn1Per" href=""><i class="icon-search fontsize-08"></i></a></li>
        <li><a class="edit Btn1Per" href=""><i class="icon-pencil fontsize-08"></i></a></li>
        <li><a class="delete Btn2Per" href=""><i class="icon-trash fontsize-08"></i></a></li>
    </ul>
        <h5 class="thin-title text-center" style="margin:0"><b>{{#nombreCompleto id}}{{/nombreCompleto}}</b></h5>
        <p class="text-center" style="color:#000">{{sucursalN}}</p>
    </figcaption>
</figure>