
<div class="row">
    <h2 style="padding-bottom: 0;margin-bottom: 0;">CATEGORIAS</h2>
    <div style="padding: 0;" class="large-4 columns">
        <div class="BorAzul">
            <h6 class="catH6">Nueva Categoría</h6>
            <form id="categoryForm">
                <div class="row collapse">
                 <div class="large-12 columns" style="padding:0 7px 0 7px;">
                    <input type="text" id="name" name="name" class="nameCAT" placeholder="Nombre de Categoría">
                </div>
                </div>
                <div class="row collapse">
                  <div class="large-12 columns" style="padding:0 7px 0 7px;"><textarea name="description" class="DesCAT" id="description" rows="3" placeholder="Descripción de la categoría"></textarea>
                  </div>
                </div>
                <div class="row collapse">   
                  <div class="large-12 columns" style="padding: 0 7px 0 7px;">
                        <button type="submit" class="button BtnCAT expand">Agregar Categoría</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="large-8 columns">
        <div class="padding-h1 auto-height-section">
            <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin">
                <thead>
                <tr>
                    <td><h5 class="" style="color: white;">Nombre</h5></td>
                    <td width="130"><h5 style="color: white;">Acciones</h5></td>
                </tr>
                </thead>
            </table>
            <div class="scroll-section" style="max-height: 287px!important;
  height:auto!important;">
                <table style="border: 1px solid #23BBD2;" width="100%" cellpadding=0 cellspacing=0 id="category-list" class="border-table no-margin">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>