<div class="row">
        <h3 style="padding-bottom: 0;margin-bottom: 0;">CLIENTES</h3>
    <div class="large-4 columns paddinFormat" >
        <h6 class="catH6" style="  width: 99.8%;margin-bottom: 0;">NUEVO CLIENTE</h6>
    <div class="auto-height paddinFormat" style="height: 335px!important;">
        <fieldset class="no-margin paddinFormat">
            <form action="" id="clientFormPrin" class="FormFormat" style="padding-top: 3px;padding-bottom:0"></form>
        </fieldset>
    </div>
    </div>
    <div class="large-8 columns">
        <div class="auto-height-section">
            <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin">
                <thead>
                <tr>
                    <td width="200"><h5 class="tableThead">Cliente</h5></td>
                    <td><h5 class="tableThead">Teléfono</h5></td>
                    <td width="130"><h5 class="tableThead">Acciones</h5></td>
                </tr>
                </thead>
            </table>
            <div class="scroll-section" style="height: auto!important;max-height:329px!important;">
                <table width="100%" cellpadding=0 cellspacing=0 id="clients-list" class="border-table no-margin">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>