 <h2 style="padding-bottom: 0;margin-bottom: 0;  margin-left: 2%;">RESPALDOS</h2>
<div class="large-12 colums">
<div class="row" style="  padding: 0;">
    <div class="large-6 columns" style="padding: 0;">
        <fieldset style="padding: 0;   height: 172px;">
            <h6 class="catH6" style="text-align: center;text-transform: uppercase;">exportar informacion</h6>
            <form id="exportForm" class="PadForm">
                <div class="row collapse">
                        <div>
                            <input name="exportar" checked="checked" type="radio" value="all" class="RadioExp"/>
                            <span class="Textblack">Toda la información</span>
                        </div>
                        <div style="  margin-bottom: 4%;">
                            <input name="exportar" type="radio" value="clientes" class="RadioExp"/><span class="Textblack">Clientes (formato CSV)</span>
                        </div>
                        <button type="submit" class="button secondary expand Azul" style="width: 100%!important;">Exportar ahora</button>

                </div>
            </form>
        </fieldset>
    </div>

    <div class="large-6 columns" style="padding: 0;">
        <fieldset style="padding: 0;  margin-left: 0;">
            <h6 class="catH6" style="text-align: center;text-transform: uppercase;">importar informacion</h6>
            <form id="importForm" class="PadForm">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <div class="large-5 columns">
                        <span class="Textblack">Archivos de Base de Datos</span>
                        </div>
                        <div class="large-7 columns">
                            <div class="large-7 columns">
                                <p class="ResponseFiles Fileimg">Archivos</p>
                            </div>
                            <div class="large-5 columns">
                            <label class="fileContainer2">
                                 selecionar archivo 
                            <input type="file" name="dbfiles" id="dbfiles" class="FileBD"/>
                            </label>
                            </div>
                        
                      </div>
                    </div>
                    <div class="large-12 columns">
                         <div class="large-5 columns">
                        <span class="Textblack">Archivos de Imagen</span>
                        </div>
                         <div class="large-7 columns">
                             <div class="large-7 columns">
                                <p class="ResponseIMG Fileimg">Imagenes</p>
                            </div>
                            <div class="large-5 columns">
                            <label class="fileContainer2">
                                 selecionar archivo 
                            <input type="file" name="images" id="images" class="FileIMG"/>
                            </label>
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <button type="submit" class="button secondary expand Azul" style="width: 100%!important;">Importar ahora</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
    </div>
</div>