
<div class="row">
	<div class="row">
    <div class="large-2 columns">&nbsp;</div>
    <div class="large-8 columns auto-height" style="height: 414px!important;">
        <h3 style="padding-bottom: 0;margin-bottom: 0">FEEDBACK</h3>
<fieldset class="no-margin PaddinFormat">
        
<form class="FormFormat" id="feedback-form">
<div class="row collapse">
    <div class="large-12 columns">
        <p class="Text-Black">Nombre Completo:</p>
    	<input type="text" id="nombre" name="nombres" placeholder="Nombre" value="" class="inputFormat"/></div>
</div>
<div class="row collapse">
    <div class="large-12 columns">
        <p class="Text-Black">Tipo:</p>
        <select name="tipo" id="tipo" class="SelectFormat2">
            <option>Seleccione una opcion (mejora, sugerencia, error)</option>
            <OPTION>Mejora</OPTION>
            <option>Sugerencia</option>
            <option>Error</option>
        </select>
    </div>
</div>
<div class="row collapse">
    <div class="large-12 columns">
    	<p class="Text-Black">Mensaje:</p>
        <textarea id="mensaje" name="comentarios" placeholder="Comentarios"></textarea>
    </div>
</div>
<div class="row collapse">
<button type="submit" class="button secondary expand no-margin Azul" style=" width: 100%!important;"><i class=""></i> ENVIAR</button>
</div>
</form>
 </fieldset>
    </div>
    <div class="large-2 columns">&nbsp;</div>
</div>