<div class="row">
      <h2 style="padding-bottom: 0;margin-bottom:0;  margin-left: 1%;">Tipos de pago</h2>
    <div class="large-4 columns"style="padding: 0;">
        <fieldset style="padding: 0;">
           <h6 class="catH6">Nuevo Metodo De Pago</h6>
            <form id="methodForm" class="PadForm">
                <div class="row collapse">
                    <div class="large-12 columns"><input type="text" id="name" name="name" placeholder="Nombre de Método" class="inputFormat" /></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <button type="submit" class="button secondary expand Azul" style="width: 100%!important;"><i class=""></i> Agregar Método</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>

    <div class="large-8 columns">
        <div class="auto-height-section" style="margin-top:6px;  border-left: 1px solid rgb(35, 187, 210);border-right: 1px solid rgb(35, 187, 210);">
            <table width="100%" cellpadding="0" cellspacing="0" class="border-table no-margin" style="width: 100.1%!important;">
                <thead>
                <tr>
                    <td><h5 class="H5Thead">Nombre</h5></td>
                    <td width="100"><h5 class="H5Thead">Acciones</h5></td>
                </tr>
                </thead>
            </table>
            <div class="scroll-section" style="height: auto!important;
  max-height: 293px!important;">
                <table width="100%" cellpadding=0 cellspacing=0 id="method-list" class="border-table no-margin">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>