<div class="row">
    <div class="large-12 columns auto-height">
        <h3 style="padding-bottom: 0;margin-bottom: 0">NOTIFICACIONES</h3>
    <div class="large-4 columns" style="padding-left:0; padding-right:0;border:1px solid rgb(35, 187, 210);margin-top: 1%;">
          <h6 class="catH6">CONFIGURACION ALERTA</h6>
          <div class="switch switchNoti">
          <input id="exampleCheckboxSwitch" type="checkbox">
          <label for="exampleCheckboxSwitch" style="color: transparent;background: #39B54A;"></label>
        </div> 
        <div id="overlay"></div>
            <form id="notificationForm" class="no-margin custom FormFormat"></form>
        </fieldset>
    </div>

    <div class="large-8 columns" style="padding-right: 0;padding-top: 0;">
        <div class=" auto-height-section" style="margin-top:1.7%; border-bottom: none;">
            <table width="100%" cellpadding=0 cellspacing=0 class="no-margin border-table" style="width: 100%!important;">
                <thead>
                <tr>
                    <td width="40">
                    </td>
                    <td width="140">
                        <h5 class="tableThead">Nombre</h5>
                    </td>
                    <td width="110" style="padding-left:0;">
                        <h5 class="tableThead">Periodo de inactividad</h5>
                    </td>
                    <td width="100" style="padding-left:0;">
                        <h5 class="tableThead">Telefono</h5>
                    </td>
                    <td width="100" style="padding-left:0;">
                        <h5 style="  text-align: center;" class="tableThead">Acciones</h5>
                    </td>
                </tr>
                </thead>
            </table>
            <div id="notification-list_parent" class="scroll-section" style="height:auto!important; max-height:239px!important;overflow-y:scroll;border-left: 2px solid rgb(35, 187, 210);border-right: 2px solid rgb(35, 187, 210);overflow-x: hidden!important;">
                <table width="101%" cellpadding=0 cellspacing=0 class="no-margin border-table" id="notification-list">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
</div>