<div class="row">
            <h3 style="padding-bottom: 0;margin-bottom: 0;margin-left: 2%;">PEDIDOS</h3>
    <div class="large-12 columns">
        <fieldset class="no-margin padding-05" style="  padding-left:0!important;padding-right: 0!important;border: none;">
            <form action="" id="filterForm" class="custom">
                <div class="row collapse">
                    <div class="large-4 columns">
                        <label for="textFilter" class="text-white TextBlackBold">Filtrar:</label>
                        <input type="search" id="textFilter" name="textFilter" class="no-margin InputPEd"/>
                    </div>
                    <div class="large-2 columns">
                        <label for="filterType" class="text-white TextBlackBold">Filtrar por:</label>
                        <select name="filterType" id="filterType" class="no-margin InputPEd">
                            <option class="Text-Black" value="client">Cliente</option>
                            <option class="Text-Black" value="user">Usuario</option>
                            <option class="Text-Black" value="folio">Folio</option>
                        </select>
                    </div>
                    <div class="large-2 columns">
                        <label for="fromDate" class="text-white TextBlackBold">Desde:</label>
                        <input type="date" name="fromDate" id="fromDate" class="no-margin InputPEd"/>
                    </div>
                    <div class="large-2 columns">
                        <label for="toDate" class="text-white TextBlackBold">Hasta:</label>
                        <input type="date" name="toDate" id="toDate" class="no-margin InputPEd"/>
                    </div>
                    <div class="large-2 columns">
                        <label>&nbsp;</label>
                        <button type="submit" class="postfix no-margin thin-title Azul" style=" float: right;padding-top: 0px!important;"><i class=""></i>&nbsp;&nbsp;Filtrar</button>
                    </div>
                </div>
            </form>
        </fieldset>
        <div class="auto-height-section">
            <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin">
                <thead class="tableThead">
                <tr>
                    <td width="20" class=""></td>
                    <td width="120" class=""><h5 class="thin-title TextBlackWhite">status</h5></td>
                    <td width="90" class=""><h5 class="thin-title TextBlackWhite">Fecha</h5></td>
                    <td width="90" class=""><h5 class="thin-title TextBlackWhite">Hora</h5></td>
                    <td width="120"><h5 class="thin-title TextBlackWhite">Pedido</h5></td>
                    <td width="120" class=""><h5 class="thin-title TextBlackWhite">Cliente</h5></td>
                    <td width="120" class=""><h5 class="thin-title TextBlackWhite">Vendedor</h5></td>
                    <td style="width:120"><h5 class="thin-title TextBlackWhite">Costo</h5></td>
                    <td width="180"><h5>&nbsp;</h5></td>
                </tr>
                </thead>
            </table>
            <div class="scroll-section" data-adjust="100" style="height: 229px!important;">
                <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin" id="pedidos-list">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>