<div class="row">
  <h2 style="padding-bottom: 0;margin-bottom: 0;">IMPRESORAS</h2>
    <div class="large-4 columns" style="padding: 0;">
        <fieldset style="padding: 0;  margin: 0;margin-bottom: 6%!important;
">
            <h6 class="catH6">Nuevo Tamaño del Ticket</h6>
            <form id="printerForm" class="FormFormat">
                <div class="row collapse">
                    <div class="large-12 columns"><input type="text" id="papel" name="papel" placeholder="Tamaño de Ticket" class="inputFormat"/></div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <button type="submit" class="button secondary expand Azul" style="width: 100%!important;"><i class=""></i> Agregar Ticket</button>
                    </div>
                </div>
            </form>
        </fieldset>
        <fieldset style="padding:0;  margin: 0;">
          <h6 class="catH6">Configuración de impresión</h6>
            <form id="printsettings" class="FormFormat">
                <div class="row collapse">
                    <div class="large-12 columns">
                        <select name="ticket_size" id="ticket_size" class="inputFormat"></select>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="large-12 columns">
                        <button type="submit" class="button secondary expand Azul" style="width: 100%!important;"><i class=""></i> Guardar</button>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>

    <div class="large-8 columns" style="padding:0;">
        <div class="padding-h1 auto-height-section" style="margin:0">
            <table width="100%" cellpadding=0 cellspacing=0 class="border-table no-margin" style="  width: 99.8%;">
                <thead>
                <tr> 
                    <td><h5 class="H5Thead">Tamaño de Ticket</h5></td>
                    <td width="130"><h5 class="H5Thead">Acciones</h5></td>
                </tr>
                </thead>
            </table>
            <div class="scroll-section">
                <table width="100%" cellpadding=0 cellspacing=0 id="ticket-list" class="border-table no-margin">
                    <tbody style="  border-left: 1px solid rgb(35, 187, 210);
  border-right: 1px solid rgb(35, 187, 210);"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--<div class="row">
    <div class="large-4 columns">
        <fieldset>
            <p>Nuevo tamaño de ticket</p>
            <form id="printer-form"></form>
        </fieldset>
    </div>
    <div class="large-8 columns">
              <div class="padding-h1 auto-height-section">
                <table width="100%" cellpadding=0 cellspacing=0 class="no-margin border-table" >

                </table>
                  <table width="100%" cellpadding=0 cellspacing=0 class="no-margin border-table">
                      <thead>
                      <tr>
                          <td><h5>Tamaño de Papel</h5></td>
                      </tr>
                      </thead>
                  </table>

              <div class="scroll-section" style="max-height:371px;overflow-y: scroll">
                  <table width="100%" cellpadding=0 cellspacing=0 class="no-margin border-table" id="printer-catalog">
                      <tbody></tbody>
                  </table>
              </div>
                <p><label for="ticket_size" class="text-white">Selecciona la medida del ticket</label></p>
                <select name="ticket_size" id="ticket_size">
                   <option value="null">Elige una opcion</option>
                   <ption value="44" {{#ifCond itemValue "===" "44"}}selected{{/ifCond}}>44mm</option>
                   <option value="55" {{#ifCond itemValue "===" "55"}}selected{{/ifCond}}>55mm</option>
                   <option value="57" {{#ifCond itemValue "===" "57"}}selected{{/ifCond}}>57mm</option>
                   <option value="76" {{#ifCond itemValue "===" "76"}}selected{{/ifCond}}>76mm</option>
                   <option value="88" {{#ifCond itemValue "===" "88"}}selected{{/ifCond}}>88mm</option>
                </select>
                <br>
                <button type="submit" class="button secondary expand"><i class="icon-refresh"></i> Guardar Cambios</button>
             </div>
    </div>
</div>-->