<h3 style="padding-bottom: 0;margin-bottom: 0;margin-left: 2%;">PRODUCTOS</h3>
<div class="row" style="  margin-top: -9px;">
    <div class="large-5 columns" style="padding-left:0; padding-right:0; border:1px solid rgb(35, 187, 210);margin-top: 1%;">
          <h6 class="catH6">NUEVA PRODUCTO</h6>
            <form id="productForm" class="no-margin custom FormFormat"></form>
        </fieldset>
    </div>

    <div class="large-7 columns" style="padding-right: 0;padding-top: 0;">
        <div class=" auto-height-section" style="margin-top:1.7%;  border: 2px solid rgb(35, 187, 210);  border-bottom: none;">
            <table width="100%" cellpadding=0 cellspacing=0 class="no-margin border-table" style="width: 101%!important;">
                <thead>
                <tr>
                    <td width="120">
                        <h5 class="tableThead">Imagen</h5>
                    </td>
                    <td width="85">
                        <h5 class="tableThead">Código</h5>
                    </td>
                    <td>
                        <h5 class="tableThead">Info</h5>
                    </td>
                    <td width="100">
                        <h5 class="tableThead">Precio</h5>
                    </td>
                    <td width="150">
                        <h5 style="  text-align: center;" class="tableThead">Acciones</h5>
                    </td>
                </tr>
                </thead>
            </table>
            <div class="scroll-section" style="max-height:323px;overflow-y: scroll">
                <table width="100%" cellpadding=0 cellspacing=0 class="no-margin border-table" id="product-list">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>