<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-3 columns" style="  margin-top: 5.5%;">
                <div class="image-wrapper" id="image-preview" style="height:195px;padding: 0px;width:96%;margin:0 auto;background-size:cover!important;background-position:center;float: left;border: 3px solid rgb(35, 187, 210);
                 {{#ifCond logotipo '!==' ''}}
                 background-image: url({{#direction logotipo}}{{/direction}});
                 {{else}}
                 background-image: url(app/images/notingpicture2.jpg);{{/ifCond}}">
                    <a href="" class="small button secondary alignright edit-foto BtnEdiImEMp"><i class="icon-pencil"></i></a>
                </div>
                <input type="file" class="hidden-field" name="foto" id="foto-field">
            </div>
            <div class="large-9 columns">
                <div class="name-handler space-bottom-1" id="name-wrapper" style="position: fixed;left:19%;">
                    <h3 class="alignleft">{{nombreEmpresa}}</h3>
                    <a href="" class="small button secondary alignright edit-name editNameEm"><i class="icon-pencil"></i></a>
                </div>
                <table class="border-table no-margin" width="100%" cellpadding=0 cellspacing=0 style="  margin-top: 7.7%!important;
">
                    <thead>
                    <tr>
                      <td width="100" style="  height: 18px;">
                            <h5 class="tableThead">Nombre</h5>
                        </td>
                        <td style="  height: 18px;" >
                            <h5 class="tableThead">Dirección</h5></td>
                        <td width="130" style="  height: 18px;">
                            <h5 class="tableThead">Acciones</h5>
                        </td>
                    </tr>
                    </thead>
                </table>
                <div class="auto-height" style="max-height: 300px!important;height:300px!important;">
                    <table class="border-table" id="sucursales-table" width="100%" cellpadding=0 cellspacing=0 style="  border: 1px solid rgb(35, 187, 210);">
                        <tbody></tbody>
                    </table>
                    <span id="suc-form-wrapper"></span>
                    <a href="" class="small button secondary add-sucursal BtnAzulEmp"><i class=""></i> Agregar Sucursal</a>
                </div>

            </div>
        </div>
    </div>
</div>