<div class="row collapse">
    <h3 style="padding-bottom: 0;margin-bottom: 0;margin-left: 2%;">REPORTES</h3>
    <!-- <span id="arrowup"></span> -->
     <div class="large-12 columns">
        <div class="tabs-panel">

            <div class="row">
                <div class="large-3 columns" style="margin-top: -18px;margin-right: -29px;margin-left: 2%;">
                    <div class="tabs">
                        <ul>
                            <li class="active"><a href="#all" data-target="all" class="VerOthers" style="border-top:1px solid #23BBD2"><i class="icon-reorder"></i>&nbsp;&nbsp; Ver todo</a></li>
                            <li><a href="#sales" data-target="sales" class="VerOthers"><i class="icon-wallet"></i>&nbsp;&nbsp; Reporte de Ventas</a></li>
                            <li><a href="#social" data-target="social" class="VerOthers"><i class="icon-group2"></i>&nbsp;&nbsp; Reporte Social</a></li>
                            <li><a href="#productivity" data-target="productivity" class="VerOthers"><i class="icon-stopwatch"></i>&nbsp;&nbsp; Reporte de Productividad</a></li>
                        </ul>
                    </div>
                </div>

                <div class="large-9 columns">
                    <div class="sections auto-height" style="heigth:auto;max-height:365px!important;width: 98%;">
                        <section class="item-section" data-section="sales">
                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">NUMERO DE VENTAS</h6>
                                <div id="num-sales" class="report"></div>
                            </fieldset>

                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">CLIENTES UNICOS</h6>
                                <div id="unique-clients" class="report"></div>
                            </fieldset>
                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">MONTO DE VENTAS</h6>
                                <div id="sales-amount" class="report"></div>
                            </fieldset>

                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">MONTO POR PRODUCTOS</h6>
                                <div id="products-amount" class="report"></div>
                            </fieldset>

                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">MONTO POR CLIENTE</h6>
                                <div id="clients-amount" class="report"></div>
                            </fieldset>
                        </section>

                        <section class="item-section" data-section="social">
                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">RANGO DE EDADES</h6>                                <div id="age-range" class="report"></div>
                            </fieldset>

                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">PORCENTAJE DE GENEROS</h6>
                                <div id="gender-percent" class="report"></div>
                            </fieldset>

                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">FIDELIDAD</h6>
                                <div id="fidelity" class="report"></div>
                            </fieldset>
                        </section>

                        <section class="item-section" data-section="productivity">
                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">TIEMPO PROMEDIO DE ENTREGA</h6>
                                <div id="timing-report" class="report"></div>
                            </fieldset>

                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">REPORTES POR DIA</h6>
                                <div id="day-report" class="report"></div>
                            </fieldset>

                            <fieldset class="space-right-1 FielReport">
                                <h6 class="catH6" style="text-align: center;">REPORTE POR HORARIO</h6>
                                <div id="schedules-report" class="report"></div>
                            </fieldset>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>