<div class="row">
	<h3 style="padding:0;margin-bottom: 0;">USUARIOS</h3>
    <div class="large-10 columns" style=" padding: 0 25px 0 0;
">
        <div class="gallery auto-height" style="height:370px!important;">
            <ul id="users-list"></ul>
        </div>
    </div>
    <div class="large-2 columns" style="margin-right: 0%;padding: 0;">
    	<div style="height: 175px;background: #CCCCCC;">
        <span class="addUser">+</span>
        <p class="TaddUser">Agregar Usuario</p>
    </div>
        </div>
    </div>
</div>