<div class="row">
    <div class="large-8 columns">
        <div id="last-order-wrapper"></div>
    </div>
    <div class="large-4 columns paddinFormat" >
        <div class="">
            <h3 style="margin-bottom: 0;">Historial del Día</h3>
            <div class="auto-height" style="height: 400px!important;">
                <ul class="no-list border-list" id="day-list">
                </ul>
            </div>
        </div>
    </div>
</div>