<div class="row">
<h4 style="margin-left: 12%;">MI CUENTA</h4>
<div class="large-10 medium-5 columns large-offset-1 medium-offset-0" style="padding:0">
    <div class="large-8 columns">
        <fieldset>
            <div class="row">
                <div class="large-4 columns" style="padding:0;">
                    {{#ifCond usuario.foto '==' ''}}
             <div style="
                    border: 3px solid #23BBD2;
                    width:100%;height:190px;background:url(app/images/perfil.jpg) no-repeat center top; background-size: cover;"></div>
             {{else}}
                    <div style="
                    border: 3px solid #23BBD2;
                    width:100%;height:190px;background:url({{#direction usuario.foto}}{{/direction}}) no-repeat center top; background-size: cover;"></div> 
            {{/ifCond}}
                </div>
         <div class="large-8 columns" style="  margin-top: 3%;">
                <div class="row" style="margin-bottom:1%;padding:0;">
                        <div class="large-3 columns">
                            <p class="Text-Black">Nombres:</p>
                        </div>
                        <div class="large-9 columns">
                            <p class="TextBlackBold">{{usuario.nombres}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%;">
                        <div class="large-3 columns">
                            <p class=" Text-Black">Apellidos</p>
                        </div>
                        <div class="large-9 columns">
                            <p class="TextBlackBold">{{usuario.apellidos}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%;">
                        <div class="large-3 columns">
                            <p class=" Text-Black">Correo:</p>
                        </div>
                        <div class="large-9 columns">
                            <p class="TextBlackBold">{{usuario.correo}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%;">
                        <div class="large-3 columns">
                            <p class=" Text-Black">Username:</p>
                        </div>
                        <div class="large-9 columns">
                            <p class="TextBlackBold">{{usuario.username}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%;">
                        <div class="large-3 columns">
                            <p class=" Text-Black">Sucursal:</p>
                        </div>
                        <div class="large-9 columns">
                            <p class="TextBlackBold">{{usuario.sucursalName}}</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1%;">
                        <div class="large-3 columns">
                            <p class=" Text-Black">Perfil:</p>
                        </div>
                        <div class="large-9 columns">
                            <p class="TextBlackBold">{{usuario.perfilName}}</p>
                        </div>
                    </div>
                    <div class="span-top-3">&nbsp;</div>
                    <div class="row">
                    </div>
                </div>
                <div class="large-12 columns" style="padding: 0;">
                            <ul class="button-group">
<!--                                 <li><a class="small button secondary report" href=""><i class="icon-print"></i> Movimientos</a></li> -->
                                <li><a class="small button secondary edit BtnAzul" href=""><i class=""></i> Editar Info</a></li>
                            </ul>
                        </div>
            </div>
        </fieldset>
    </div>
    </div>
</div>