* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    background: #ddd !important;
}
body {
    color: #444;
    font-family: sans-serif;
    font-size: 14px;
}

.button {
    margin-bottom: 0 !important;
}

.controls {
    bottom: 0;
    position: fixed;
    top: auto;
    width: 100%;
}
h3 {
    margin: 0 0 1em 0;
    text-align: center;
}
.image-wrapper {
    text-align: center;
}
.image-wrapper img {
    display: inline-block;
    max-width: 100%;
    max-height: 100px;
    margin: 0 auto;
}
p {
    margin: 0;
}
table {
    border: none;
    margin: 0;
    max-width: 100%;
}
table.details {
    border-bottom: 2px solid #ccc;
}
table.details td {
    font-size: .8em;
}
table.details thead td {
    border-bottom: 1px dashed #111;
    border-top: 1px dashed #111;
}
table.details tbody td {
    border-bottom: 1px solid #ddd;
}
.text-center {
    text-align: center;
}
.ticket {
    background: #fff;
    margin: 0 auto 3em;
    max-width: 100%;
    padding: 1em;
    width: 100%;
}