@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-burger21:before {
	content: "\e000";
}
.flaticon-chat21:before {
	content: "\e001";
}
.flaticon-credit-card5:before {
	content: "\e002";
}
.flaticon-file148:before {
	content: "\e003";
}
.flaticon-folder47:before {
	content: "\e004";
}
.flaticon-groups1:before {
	content: "\e005";
}
.flaticon-house204:before {
	content: "\e006";
}
.flaticon-male61:before {
	content: "\e007";
}
.flaticon-office24:before {
	content: "\e008";
}
.flaticon-pricetag5:before {
	content: "\e009";
}
.flaticon-printer22:before {
	content: "\e00a";
}
.flaticon-telephone51:before {
	content: "\e00b";
}
.flaticon-user146:before {
	content: "\e00c";
}
